[2017-07-03 22:51] xdave opened #1 "TypeScript definitions"
Hi, just wanted to stop by and leave a comment to tell you how awesome I think this package is.  I've been messing around with it, and decided to try doing something with it with typescript and redux.

I've pushed [ink-typescript-redux-test](https://github.com/xdave/ink-typescript-redux-test) which is essentially the Counter example, but with more awesomeness.

- I've created a basic typescript de

[2017-07-05 17:10] vadimdemedes commented on #1
Thank you as well, comments like this are a rare and super exciting occasion for OSS maintainers 💙

As for TypeScript typings, I'd be more than happy to support them, but at a bit later point, since the package is in its very early stages and I expect the render/mount API to change. The component API (from React) isn't going to change though, just to clarify.

If you'd be willing to help in the ne

[2017-07-05 18:49] xdave commented on #1
Yeah, no problem!  Drop me a line if you want help with it, or if you want to write the whole thing in Typescript (which would eliminate the need to maintain separate bindings :), lol)

[2017-07-05 19:12] xdave opened #2 "Intrinsic element "div" should produce a newline"
For example, a component like this currently renders all of the items on a single line.  Like HTML makes the div have a block-level display (implicitly has a 100% width), perhaps ink's could do something similar?

[code]

[2017-07-05 21:25] vadimdemedes commented on #2
I like this idea, good point!

[2017-07-09 11:56] vadimdemedes opened #5 "Provide available terminal space"
See https://github.com/vadimdemedes/ink/pull/3#discussion_r126292283.

The problem is demonstrated perfectly when rendering a progress bar:

[code]

In order to render a progress bar that takes entire terminal space (width), `<ProgressBar>` needs to know how much space `<Label>` takes.

I'm short of ideas on how to implement this properly, so any thoughts are welcome!

[2017-07-09 14:40] vadimdemedes commented on #2
So I took a stab at implementing this and faced an interesting issue.

To take your example with removed indent code:

[code]

You'd expect the following output in HTML:

[code]

But if I naively modify `<div>` in Ink to append `\n` after children, this is what you get:

[code]

Notice the extra `\n` at the end, caused by the root `<div>`.

So in next step I decided to skip multiple consecutive `\

[2017-07-09 16:53] shaneosullivan commented on #2
As a meta comment, given you are not actually constructing HTML here, you'd be better off taking the React Native approach of using View instead of div. then your textual output is just another rendering engine, rather than being confused with ReactDOM, which treats all lower case components as pass through dumb items to render

[2017-07-10 07:36] xdave commented on #2
@shaneosullivan good point.

@vadimdemedes `<div inline>` breaks the react typescript typings that I was using with this:
[code]
:P

[2017-07-10 09:26] xdave commented on #5
I think figuring this out would also solve the nested-div-newline problem.

[2017-07-10 09:30] xdave commented on #5
Whoa: https://github.com/iamdustan/react-hardware

[2017-07-10 13:14] Restry opened #10 "what's terminal theme do you use ?"
hi @vadimdemedes
looks your mac terminal theme it's very nice in the readme.md .
would you tell me what's your theme ?

thanks :)

[2017-07-10 13:20] sindresorhus commented on #10
It's [Hyper](https://hyper.is) with the [Pure](https://github.com/sindresorhus/pure) prompt and the [Snazzy](https://github.com/sindresorhus/iterm2-snazzy) theme.

[2017-07-10 13:20] #10 closed

[2017-07-10 14:39] Restry commented on #10
wow it's awesome :)  thanks

[2017-07-10 15:47] shaneosullivan commented on #2
For the inline stuff, if you went the React Native route, it'd just be a <Text> component.  All nice, clear and simple :-)

[2017-07-10 15:49] vadimdemedes commented on #2
@shaneosullivan `<div>` is a component too. I just made it "invisible" to the user, so that they don't need to keep importing it in every file where it's used.

@xdave But I imagine Ink would have its own bindings, right? So that error is temporary.

[2017-07-10 16:27] xdave commented on #2
Not sure how to augment the React.HTMLAttributes class properly...... yet.

[2017-07-10 19:01] nmehta6 opened #11 "Example on how to use without JSX"
I am curious if there is a way to avoid a transpiler since I like to rely on node's native support for new syntax.

[2017-07-10 19:09] sindresorhus commented on #11
You only have to transpile the JSX. You don't have to transpile any of the other syntax.

[2017-07-10 19:34] xdave commented on #11
@nmehta6  It has the same API as `React.createElement()`.  Just call `h()` instead.   See here: https://facebook.github.io/react/docs/react-without-jsx.html

[2017-07-10 20:04] nmehta6 commented on #11
@xdave Thank you!

[2017-07-10 20:54] #11 closed

[2017-07-11 10:21] sindresorhus opened #13 "Allow multiple top-level components"
So we can get rid of the annoying `<div>` wrapping requirement.

[2017-07-11 16:38] kutsan opened #15 "Create quick start, working boilerplate repository for newcomers"
Like https://github.com/gaearon/react-hot-boilerplate.

[2017-07-11 17:10] vadimdemedes commented on #2
@sindresorhus what do you think about the `<div>` and `<div inline>` proposal?

[2017-07-11 17:11] vadimdemedes commented on #15
Agree, this would be useful.

[2017-07-11 17:29] naholyr opened #16 "Why not a react renderer?"
Is there a specific reason you re-implement the whole react-like API instead of making it a custom renderer? I think about react-blessed here.
If there is no specific reason, how about making it a custom renderer?

[2017-07-11 17:36] vadimdemedes commented on #16
There are multiple reasons:

- I wanted to learn how React's/Preact's diffing works and implement it
- React handles way more than Ink needed to
- I haven't found decent docs on how to make a custom React renderer and I didn't want to wait for Fiber
- I'm a JavaScript developer, that says it all 🤣

[2017-07-11 17:39] naholyr commented on #16
Seems legit ;) I'd be interested in making a renderer, I'll try to play
with Ink for that part. Would you be interested in the result or is this
just not the desired direction?

Le mar. 11 juil. 2017 à 19:36, Vadim Demedes <notifications@github.com> a
écrit :

[2017-07-11 17:41] vadimdemedes commented on #16
I don't see the good enough reason of dropping the whole work done on Ink and switching to a custom renderer. Hope you understand my reasoning :)

Although, I'd be indeed interested how it could be implemented, so make sure to ping back with the results!

[2017-07-13 15:16] #16 closed

[2017-07-14 04:52] WellerQu opened #17 "What's the name of terminal in gif picture?"
like title. Thanks. : )

[2017-07-14 17:28] vadimdemedes commented on #17
See https://github.com/vadimdemedes/ink/issues/10.

[2017-07-14 17:28] #17 closed

[2017-07-15 19:28] vadimdemedes opened #18 "Test <Text> component"

[2017-07-15 19:28] vadimdemedes opened #19 "Support new functionality in Chalk 2 in <Text>"
Like `rgb()` or `hex()`.

[2017-07-15 19:31] vadimdemedes opened #20 "Test <Indent> component"

[2017-07-15 20:31] vadimdemedes commented on #15
Released [generator-ink-cli](https://github.com/vadimdemedes/generator-ink-cli) - a generator for Yeoman to quickly scaffold out a CLI based on Ink. Will add it tomorrow to the readme, just thought you might want to play with it before anyone else :)

[2017-07-15 20:31] #15 closed

[2017-07-16 00:50] kutsan commented on #15
Hey, thanks! Looks really cool.

[2017-07-16 01:15] kutsan commented on #15
By the way, you may want to show generating the boilerplate with new built-in npx.
Type `npx -p yo -p generator-ink-cli -- yo ink-cli`.

[2017-07-16 04:29] vadimdemedes commented on #15
This looks bit painful, tbh. Let's give it time to mature a little, fix bugs, etc.

[2017-07-16 11:30] sindresorhus commented on #2
If you're going to imitate HTML, it should be `<div>` and `<span>`.

[2017-07-16 11:47] vadimdemedes commented on #2
This is probably going to be the easiest way to go. And I guess the right one too.

@xdave Your TS bindings would also work with this approach, I assume.

[2017-07-16 11:57] vadimdemedes commented on #2
Pushed https://github.com/vadimdemedes/ink/commit/376dc3a0ea3a910e12b3467c3e02619c6ea667c1 to make `<div>` insert `\n` after children. `<span>` now acts as a noop component to group elements.

Going to close this issue when a new release is out.

[2017-07-16 12:30] vadimdemedes commented on #19
Pushed https://github.com/vadimdemedes/ink/commit/023e8d8f99eed2c0e4074e12e9b925ecd333f4ae to implement this. Keeping the issue open until release is out.

Examples on how to use all Chalk 2 features (will be added later to the readme):

[code]

[2017-07-16 12:31] vadimdemedes commented on #18
https://github.com/vadimdemedes/ink/commit/023e8d8f99eed2c0e4074e12e9b925ecd333f4ae fixes this. Keeping issue open until release is out.

[2017-07-16 12:33] #18 closed

[2017-07-16 12:34] vadimdemedes commented on #20
Fixed via https://github.com/vadimdemedes/ink/commit/a9f660f9db0b91041b0c7d6acbaa11bbfc9b4cf5.

[2017-07-16 12:34] #20 closed

[2017-07-16 12:53] vadimdemedes opened #21 "Implement subtree rendering"
This means that when a nested component needs to rerender, diff only checks the dirty component and its children (basically the whole tree below). In React/Preact, a dirty component means a component that was updated (via `setState()`) and needs to be rerendered.

[2017-07-16 13:52] vadimdemedes opened #22 "Rerender when terminal resizes"

[2017-07-16 15:09] vadimdemedes commented on #22
https://github.com/vadimdemedes/ink/commit/e68f2d7d14736cfeb95059260f8243ab6e5b323a fixes it. Leaving issue open until a new release is out.

[2017-07-16 15:17] vadimdemedes commented on #13
While it's still a requirement to pass a single component to `render()` (the top-most component):

[code]

You can skip `<div>` and `<span>` when returning children from component's `render()`:

[code]

Or you meant support passing multiple components initially to `render()`?

[code]

[2017-07-16 16:34] vadimdemedes commented on #2
Landed in `0.3.0`, thanks everyone!

[2017-07-16 16:34] #2 closed

[2017-07-16 16:35] vadimdemedes commented on #22
Landed in `0.3.0`.

[2017-07-16 16:35] #22 closed

[2017-07-16 16:35] vadimdemedes commented on #19
Landed in `0.3.0`.

[2017-07-16 16:35] #19 closed

[2017-07-16 17:17] kutsan commented on #15
Yeah, but there is a [issue](https://github.com/yeoman/yo/issues/528) about that. Probably we could just write `npx yo ink-cli` in future.

[2017-07-17 14:37] sindresorhus commented on #13
I meant all cases. Would like to be able to do `render(<A/><B/>);`. In a CLI app you usually glue components together in a final output.

[2017-07-23 20:39] brigand commented on #13
@sindresorhus that's invalid syntax, babel won't compile it. It's like `render(h(A)h(B))`. Passing an array is a valid option.

[2017-07-23 20:45] sindresorhus commented on #13
@brigand I had imaged that it could compile to something like `render(h(Wrapper))` of which `Wrapper` contained `A` and `B`, but I guess an array would work too.

[2017-07-24 15:00] szymex73 opened #25 "I can't run example code"
I copy/pasted example code and tried to use `jsx` npm module to run it, transpile it, I also tried to transpile it using Babel but that didn't work either.
How should I run it?

[2017-07-24 18:07] dodekeract commented on #25
Did you set the pragma to `h`?

[2017-07-24 20:16] szymex73 commented on #25
I did, I tried to run babel again and it worked like after 6 tries

[2017-07-24 21:55] citycide opened #26 "Using features not supported in Node 4"
ink's `engines` field specifies Node >= 4 while using features unsupported in Node < 6. This includes default & rest parameters and destructuring ( all things I hate to lose when supporting node 4 :laughing: ).

I don't personally use anything but `latest` but some might still use Node 4, so the options I'd bet you're aware of already are:

1. Change the `engines` field and drop support for node 4

[2017-07-25 08:47] TimRChen commented on #25
I meet the same situation..

[2017-07-27 09:55] gailingmic commented on #25
how exactly have you fixed this?
I can't get it to work at all with this setup

`package.json`
[code]

`.babelrc`
[code]

[2017-07-27 10:19] szymex73 commented on #25
My NodeJS version is `v7.10.0`
`npm install --save-dev babel-plugin-transform-h-jsx`
.babelrc
[code]
Hope this helps

[2017-07-27 14:07] vadimdemedes commented on #25
@TimRChen @gailingmic what error do you get?

[2017-07-28 02:13] TimRChen commented on #25
I run the demo successfully by using [https://github.com/vadimdemedes/generator-ink-cli](https://github.com/vadimdemedes/generator-ink-cli). Thanks for the generator. @vadimdemedes

[2017-07-31 01:20] OuyangQianba opened #28 "Unexpected display ??"
Run the below code
[code]
When the length of `this.state.text` great then the columns of terminal, the output seams not correct, is it ?
![image](https://user-images.githubusercontent.com/17270099/28759519-0ecf9444-75d1-11e7-8628-89839834e590.png)

The same situation appears on `TextInput` , when the input text more then one line, it was repeated again and again when I typed.

[code]

[2017-07-31 01:38] sindresorhus commented on #28
@vadimdemedes I think you need to update `log-update` to fix this.

[2017-07-31 01:44] OuyangQianba commented on #28
Yes , I had read the source code of ink and log-update and I found that too. I deleted log-update and installed the latest version (2.1.0), the issue disappeared. @sindresorhus  @vadimdemedes

[2017-08-07 18:04] vadimdemedes commented on #28
Updated in master, will keep this open until next release is out.

[2017-08-07 18:04] vadimdemedes commented on #28
Thanks for reporting, @OuyangQianba.

[2017-08-07 18:05] vadimdemedes commented on #26
I think I forgot to change it to `6`, since I didn't want to support 4. Will change, thanks!

[2017-08-07 18:06] vadimdemedes commented on #25
You're welcome, @TimRChen!

[2017-08-07 18:13] vadimdemedes commented on #28
https://github.com/vadimdemedes/ink/releases/tag/v0.3.1 is out.

[2017-08-07 18:13] #28 closed

[2017-08-07 18:13] vadimdemedes commented on #26
Fixed in the new release.

[2017-08-07 18:13] #26 closed

[2017-08-08 03:55] 8-uh opened #30 "vadimemedes, i love you <3 <3 <3"
thank you for this

[2017-08-09 20:06] vadimdemedes commented on #30
You're welcome! 💙

[2017-08-09 20:07] vadimdemedes commented on #30
I kind of don't want to close this issue, I'd leave it open for a while 😄

[2017-08-09 20:07] #30 closed

[2017-08-09 20:14] vadimdemedes opened #31 "Expose stdin and stdout"
Since `stdin` and `stdout` are customizable, all components should have access to them via context to avoid confusion. This is also useful for testing and stubbing those streams.

Before:

[code]

After:

[code]

Maybe those should just be set directly on `this`, not `this.context`, haven't decided about this yet.

[2017-08-09 20:14] vadimdemedes opened #32 "Pass previous props and state in componentDidUpdate()"
Right now no arguments are passed, but previous props and state should be passed to match React API.

[2017-08-09 20:16] vadimdemedes opened #33 "Document "Why""
Many people have questions why does Ink exists, why not use blessed/react-blessed, etc. I need to clarify it in the beginning of readme.

[2017-08-09 20:17] vadimdemedes opened #34 "Document built-in <Text> component"
<Text> must be documented here https://github.com/vadimdemedes/ink#built-in-components.

[2017-08-09 20:19] vadimdemedes opened #35 "Add "Ink in production" section to readme"
Currently the list is short:

- [emoj](https://github.com/sindresorhus/emoj).

If you are aware of any high quality CLIs built with Ink, please comment in this thread and I'll add it later to the readme! Also, if some CLI gets rejected, no hard feelings please :)

[2017-08-12 21:52] talon commented on #34
https://github.com/vadimdemedes/ink/pull/36/files

[2017-08-12 22:23] maticzav opened #37 "TypeError: Class constructor Component cannot be invoked without 'new'"
Hi guys!
So I am getting this error, been busting my head over it all day, any thought?

Help, much appreciated 😄.

`src/index.js`
[code]

`demo.js`
[code]

`.babelrc`
[code]

`package.json`
[code]

[2017-08-13 07:19] vadimdemedes commented on #37
This is happening, because Babel's `preset-es2015` transpiles ES6 classes. This is a very popular issue, I'd say - https://github.com/babel/babel/issues/4269.

Solution would be to use presets that target more modern Node.js versions, for example - https://www.npmjs.com/package/babel-preset-es2015-node5.

[2017-08-13 08:12] maticzav commented on #37
It works now! Thank you so much!!

[2017-08-13 08:12] #37 closed

[2017-08-13 08:19] vadimdemedes commented on #37
You're welcome :)

[2017-08-13 17:12] jaywcjlove commented on #25
@szymex73 example code https://github.com/TimRChen/react-cli

[2017-08-21 16:33] vadimdemedes commented on #25
Closing due to lack of response. Feel free to reply here or open a new issue with more details, if anyone's still experiencing problems.

[2017-08-21 16:33] #25 closed

[2017-08-21 17:08] vadimdemedes opened #39 "Add Yeoman generators to readme"
There are 2 Yeoman generators to easily get started with Ink:

1. https://github.com/vadimdemedes/generator-ink-component - Create a reusable Ink component
2. https://github.com/vadimdemedes/generator-ink-cli - Create a CLI that uses Ink

Having them in the readme would ease the intro to Ink.

[2017-08-25 18:30] thetoxicavenger opened #40 "Disable input handling in a non-tty environment"
`/node_modules/ink/index.js:61`

Never seen this one before and googling didn't help much - what's going on here? It's preventing me from running this example from your docs:

`const {h, render, Component} = require('ink');

class Counter extends Component {
	constructor() {
		super();

		this.state = {
			i: 0
		};
	}

	render(props, state) {
		return `Iteration #${state.i}`;
	}

	componentDidMou

[2017-08-27 17:02] vadimdemedes commented on #40
What Node.js version are you on?

[2017-08-27 20:20] thetoxicavenger commented on #40
8.2.1

Sent from my iPhone

[2017-09-02 19:49] marionebl commented on #5
Perhaps this is overcomplicating things, but introducing a `View` using `yoga-layout` could solve this by introducing a full layout engine. I am not quite sure how one would go about building this. Reading and understanding the code of projects using `yoga-layout` should help, though:

* react-vr
* react-pdf
* react-sketchapp

[2017-09-03 16:53] vadimdemedes commented on #5
I think this is definitely interesting, but might be an overkill for now. I still hope there will be a simple solution to that issue.

[2017-09-30 12:58] TheSuperFly commented on #40
This happened when I tried to launch my Ink app on WebStorm IDE, even more while using `node inspect index.js`

I think this error happen when you're trying to run a ink app in a non-tty env such debuggers or some IDE terminal.

[2017-09-30 13:02] vadimdemedes commented on #40
Yes, I think it happens only in non-tty env, which I guess there's no way to enable interactive input. Possible solution for this would be to just disable the input altogether.

[2017-09-30 13:11] TheSuperFly commented on #40
I've just been looking at it and making a conditional to see if current env is TTY.

[code]

And it worked, it's now working on both debugger, WebStorm IDE and regular terminal (iTerm). Should I make a PR for this fix?

[2017-09-30 13:16] vadimdemedes commented on #40
Sure, a PR would be great, thanks! I'd completely disable all handling of stdin, not just `setRawMode()`, but also in `render()` and `exit()` in `index.js`.

[2017-10-01 11:43] vadimdemedes commented on #40
Fixed via #42. Will close the issue when a release is out.

[2017-10-06 09:52] pe3 opened #43 "Problems with babel-preset-env"
This example:
[code]
works with `.babelrc`
[code]
I would like to use import-syntax instead:
`import { h, render, Component, Text } from 'ink'`

If I edit `.babelrc` to:
[code]
I get:
[code]
I'm running on:
[code]

[2017-10-21 12:07] vadimdemedes commented on #43
This is a known problem for years - https://github.com/babel/babel/issues/4269. As a workaround, you can disable class transpilation.

[2017-10-23 09:11] pe3 commented on #43
Thanks. Will try it out.

[2017-10-23 09:11] #43 closed

[2017-11-16 06:35] shakyink commented on #39
@vadimdemedes - I've made a [PR](#44) that adds information on these two generators to the readme.

[2017-11-21 23:09] jimthedev opened #45 "Interest in plugin?"
I wrote a thing to handle exiting processes in ink

Is this something you'd consider putting on the readme?

https://github.com/jimthedev/ink-process

[2017-12-02 12:40] vadimdemedes commented on #45
I don't think it has enough value for the majority of users, unfortunately. Do you have an example CLI where this is indeed useful?

[2017-12-03 16:04] vadimdemedes commented on #39
Fixed via #44.

[2017-12-03 16:04] #39 closed

[2017-12-04 19:08] jimthedev commented on #45
Sure, let's take the following example:

We're building a cli that allows the user to create a new user.  If they fill out all of the information properly then the user will be created. If they fill out all of the information correctly but some error happens when finally persisting the user then the app will exit with an informative *nix exit code to let us know what happened.  If everything succe

[2017-12-06 00:08] sindresorhus opened #46 "Support JSX fragments"
https://reactjs.org/blog/2017/11/28/react-v16.2.0-fragment-support.html

[2017-12-06 00:09] sindresorhus commented on #13
Closing in favor of https://github.com/vadimdemedes/ink/issues/46

[2017-12-06 00:09] #13 closed

[2017-12-06 00:09] sindresorhus commented on #1
@vadimdemedes Are you open to this being done now?

[2017-12-19 02:41] mnewt opened #47 "Render cursor"
Really awesome project. Thanks for building it.

I want to make a normal readline-style prompt, complete with the standard cursor. I see ink-text-input but it doesn't render the cursor. Can you point me in the right direction?

Cheers.

[2017-12-20 15:30] mAAdhaTTah commented on #34
Also needs `<Indent>`.

[2017-12-23 14:19] mAAdhaTTah opened #48 "Duplicated Output"
Loving the concept of Ink but having some issues with the rendering. I'm seeing this duplicated output:

<img width="245" alt="menubar_and_bash" src="https://user-images.githubusercontent.com/4371429/34317150-2fddd508-e776-11e7-9c4a-1ecd2f6d3423.png">

Have you seen this before? Any idea what the issue could be? I'm not sure this is a bug, but I can't seem to nail down the cause. While I'm typing

[2017-12-27 03:40] mAAdhaTTah commented on #48
Playing around with this today, it appears to only happen when rendering multiline strings. So rendering:

[code]

where `message` is a multiline string, using either template string or output from a `spawn`ed process. I'm working on producing an isolated reproducible case.

[2017-12-27 21:06] mAAdhaTTah commented on #48
Isolated to a `log-update` issue: https://github.com/sindresorhus/log-update/issues/28

[2017-12-31 08:25] sonaye commented on #40
Can we have this released please?

[2018-01-20 11:19] vadimdemedes commented on #45
I see, sure, I think it can be included. As for handling errors, I think implementing `componentDidCatch` from React 16 would be very cool. Added to todo ;)

[2018-01-20 11:19] vadimdemedes commented on #1
Yeah, sure.

[2018-01-22 21:28] vadimdemedes commented on #40
Released `0.4.0`, sorry for the delay.

[2018-01-22 21:28] #40 closed

[2018-01-22 21:29] vadimdemedes commented on #47
Thanks, glad you like it! It's definitely the priority on the roadmap, but it involves quite a lot of time to implement properly. I won't give any ETAs here, but I'll keep you updated.

[2018-01-22 21:30] vadimdemedes opened #51 "Document built-in <Indent> component"

[2018-01-22 21:31] vadimdemedes commented on #34
Fixed via https://github.com/vadimdemedes/ink/pull/36. Opened https://github.com/vadimdemedes/ink/issues/51 for `<Indent>`.

[2018-01-22 21:31] #34 closed

[2018-01-22 21:39] vadimdemedes opened #52 "Add tests for context and stateless components"

[2018-01-23 20:14] uipoet commented on #1
@vadimdemedes I extended the TypeScript definitions @xdave originally wrote for a project I'm working on. Should I open a pull request?

[2018-01-23 20:19] uipoet commented on #1
@sindresorhus I had to manually duplicate the property and method types from Chalk, since the types are exported under a `class`. If Chalk refactored it's own type definitions to export the properties and methods as an `interface`, I would prefer to use that to keep the projects in sync.

[2018-01-23 20:22] sindresorhus commented on #1
https://github.com/chalk/chalk/blob/bc3dd75329b43eeda3200ac9a161b6e5a9b9dfe3/types/index.d.ts#L28 looks like an interface to me?

[2018-01-23 20:30] uipoet commented on #1
What I mean is that there are types under the Chalk interface that are for a class.

[code]

Ends up not being assignable when using:
[code]

[2018-01-23 22:03] sindresorhus commented on #1
See: https://github.com/chalk/chalk/issues/215#issuecomment-337459457

[2018-01-27 16:35] Kikobeats commented on #48
Having the same issue using [Table](https://github.com/maticzav/ink-table) component with a dataset higher than `37`

[2018-01-27 17:15] mAAdhaTTah commented on #48
Yeah.. I have to imagine this is a fairly low level issue. I personally have made zero progress here, unfortunately.

[2018-03-09 10:29] rofrol opened #54 "Comparison to https://github.com/Yomguithereal/react-blessed"
Comparison to https://github.com/Yomguithereal/react-blessed would be nice.

[2018-03-10 09:16] vadimdemedes commented on #54
I don't like doing comparisons, people should decide themselves what's the right tool for them. Besides, Ink and React Blessed have different purposes. React Blessed is more oriented towards fullscreen UIs, from what I can see. Ink is targeted towards simple interactive UIs for "regular" CLIs.

[2018-03-10 09:16] #54 closed

[2018-03-15 19:22] saadq opened #56 "Document all exports"
Hey, great work with this package.

I had been planning on writing some Flow type definitions, but I noticed that some exports aren't documented in the README. You already have an open issue for [`Indent`](https://github.com/vadimdemedes/ink/issues/51), but there's also [`StringComponent`](https://github.com/vadimdemedes/ink/blob/master/index.js#L13), [`build`](https://github.com/vadimdemedes/ink/

[2018-03-15 20:50] benwiley4000 opened #57 "Lifecycle methods and Context API from React 16.3"
The official React 16.3 release is still upcoming, but there are several highly anticipated features whose implementation could start now: https://medium.com/@baphemot/whats-new-in-react-16-3-d2c9b7b6193b

Particularly the new Context API, which could be built on top of the existing API for now.

Also important to implement will be `static getDerivedStateFromProps`, which replaces ~`componentDidMo

[2018-03-25 11:58] vadimdemedes commented on #56
`StringComponent`, `build` and `diff` are private (internal) functions, they shouldn't be used by users of Ink.

P.S. Glad you like it!

[2018-03-25 11:58] #56 closed

[2018-03-26 19:26] kylealwyn commented on #57
Small edit: `static getDerivedStateFromProps` will be replacing `componentWillReceiveProps`, not `componentDidMount`

[2018-03-26 19:51] benwiley4000 commented on #57
@kylealwyn you're right, my mistake! Well, I thought `componentDidMount` was faster to type, and maybe no one would notice... 😄

[2018-03-29 19:35] karaggeorge opened #61 "Add a renderToStream method"
I'm working on a package and I need to render a component temporarily (like renderToString does) but I need the lifecycle events to occur and emit the updates to a stream. However, I don't need the stdin hooks for escape, Ctrl+c etc. Plus, when I call unmount, I don't want the program to exit.

Right now, as a workaround, I call `render(<Component />, {stdout, stdin})` with my stdout being the str

[2018-03-30 04:27] karaggeorge commented on #61
The purpose of this is a package that allows components to be rendered side-to-side (horizontally aligned):
![kapture 2018-03-30 at 0 26 00](https://user-images.githubusercontent.com/8822835/38124621-1d10089c-33b1-11e8-8039-062db63213e8.gif)

[2018-04-01 12:27] chinanf-boy opened #63 "isUpdate is confusing"
https://github.com/vadimdemedes/ink/blob/master/lib/diff.js#L133

[code]

https://github.com/vadimdemedes/ink/blob/master/lib/diff.js#L178

[code]

If the `Vnode` is need to `Update` , should return `nextNode`, no `prevNode`

May you can change `isUpdate` to > `isPrev`

[2018-04-03 16:27] sindresorhus opened #65 "Rename `<Text>` component to `<Color>`"
It makes it sound like it can only color text, but it works on any Ink component, so you could use it to color [`ink-box`](https://github.com/sindresorhus/ink-box), for example.

We can add separate components for the existing `<Text bold>` and `<Text underline>` styling: `<Bold>` and `<Underline>`.

[2018-04-03 21:00] karaggeorge commented on #65
I can work on a PR for this if you want

[2018-04-04 04:14] sindresorhus commented on #65
@karaggeorge Sure :)

[2018-04-06 13:34] karaggeorge commented on #5
I'd like to give this one a try. What exactly are we looking for? Should it be that every element past the first one should render in less space than the entire terminal based on the previous elements?

Should that happen for elements in a `div`? or in general?

Also, would it make sense to automatically cut anything that goes over the terminal length for each line (instead of creating another lin

[2018-04-06 13:42] karaggeorge commented on #65
I think this can be closed now 😄 https://github.com/vadimdemedes/ink/pull/69

[2018-04-06 15:04] #65 closed

[2018-04-09 06:25] #61 closed

[2018-04-09 06:32] vadimdemedes commented on #63
`prevNode` is actually a current node and it should be updated in order to update existing components that are being rendered to terminal. `nextNode` should be rendered (`return`ed) only when there was no previous node to compare to. It happens on initial render, for example.

[2018-04-09 13:30] karaggeorge commented on #5
@vadimdemedes I'm a bit confused with the `x` and `y` system. How can a component (like ProgressBar) calculate how wide it has to be just using the proposed `x` and `y`. I think maybe a `left` and `right` type of prop my help more. `left` being the `x` and `right` being the maximum space left for the component to take on the terminal. Actually, that would make more sense if only the right-most com

[2018-04-09 15:30] vadimdemedes commented on #5
You can get the available space using `terminal width - x = available width`. The `y` coordinate is for placing mouse cursor, you can ignore it for this example.

Let me play with my idea and see if it even works. I'll submit it as a PR and ping you.

[2018-04-09 15:48] karaggeorge commented on #5
@vadimdemedes

that would be true only if the component is the last one on the line, right?

[2018-04-09 15:53] vadimdemedes commented on #5
Yes, I totally missed that, good catch.

[2018-04-09 20:26] #46 closed

[2018-04-09 20:31] vadimdemedes commented on #5
@karaggeorge I implemented my idea but indeed is limited to 2 components on one row, side by side. I rethinked your idea with flex and I think it's the best way to solve this. My idea is to implement an alternative of CSS flexbox in Ink. That way layout is clearly determined and straightforward to understand. My thoughts:

[code]

[code]

It's indeed going to be a basic reimplementation of CSS fle

[2018-04-09 21:14] karaggeorge commented on #5
@vadimdemedes Yeah, CSS flexbox is where I got that idea. I think it would make sense in this case, and it solves a couple of problems. What are you thinking about a full set of props? I was thinking just the `flex-grow`, but I see you incorporated more of them.

I'm wondering about the height. How would that display with the children of that element? Would it be a new line before and after the bo

[2018-04-10 02:06] chinanf-boy commented on #63
# Ok , I got it, Thanks a lot 😊

[2018-04-10 02:07] #63 closed

[2018-04-10 04:38] vadimdemedes commented on #5
I think we should start with the minimum set first and expand over time.

Exactly 🙂

[2018-04-10 13:12] karaggeorge commented on #5
@vadimdemedes
I think that makes sense. I'll start working on PR. Do we want it to be a prop passed in to any component? Or do we want to have a wrapper that does it for the children? The way you had it before:

[code]

or `<Flex/>` as a wrapper, which would lead to `A` receiving an `availableSpace` prop.

[2018-04-11 10:29] mees- opened #74 "Example in readme uses Text export"
I noticed the example in the readme requires a `Text` property from the ink exports. After reading through the index.js I noticed that there is no such export.

[2018-04-14 18:03] vadimdemedes commented on #5
@karaggeorge Sorry for late response. I thought we could go with https://github.com/vadimdemedes/ink/issues/5#issuecomment-379884409 to provide a complete layout solution. I tried implementing `<SpaceAware>` and it looks more like a hack than a solution.

[2018-04-14 18:29] vadimdemedes commented on #5
@marionebl I guess this means that Ink will have to include a native dependency, which I'd like to avoid.

[2018-04-23 17:09] sindresorhus commented on #5
Yoga has an asm.js build for browsers, which we could use in Node.js to not need a native dependency: https://github.com/facebook/yoga#build-platforms

[2018-04-26 06:27] zeakd opened #76 "v0.4.1 doesn't contains Bold and Color"
Hi. Thanks for this amazing library.

Master branch (0.4.1) readme said it contains Bold and Color Component but currently npm published v0.4.1 doesn't contains those Components.

[code]

[code]

Thanks!

[2018-04-29 02:05] Flaque opened #77 "Is ImportJsx required?"
In the [yeoman generator](https://github.com/vadimdemedes/generator-ink-cli/blob/333e092d4536a9b8ce7694a2375146ee16bb6de0/app/templates/cli.js#L4), `importJsx` is used to require the `ui.js` file.

From the `ui.js` file, is that needed to import and use locally defined components? (ones not from an npm package)

[2018-04-29 09:48] #74 closed

[2018-04-29 09:49] sindresorhus commented on #76
Yes, because it's not published yet. Readme on master always reflects master and not the latest version. That's how most projects on GitHub works.

[2018-04-29 09:49] #76 closed

[2018-04-29 09:50] sindresorhus commented on #77
You need to transpile the JSX syntax somehow. It's up to you how to do that. Either with `import-jsx` or a prepublish-step using Babel.

[2018-04-29 09:50] #77 closed

[2018-04-29 09:50] zeakd commented on #76
Oh i see. Thanks

[2018-05-01 12:13] danny-waite opened #78 "Full screen layouts"
I'm looking to build some full screen layouts, that contain multiple section, much in the same way that react-blessed makes possible with boxes.  I note the following https://github.com/vadimdemedes/ink/issues/5 that seems promising but I wondered how/if people are doing this with the current feature set?

Great project, loving working with ink.

[2018-05-04 21:20] kellyi opened #79 "Error importing ink-spinner, ink-table, et al using 0.5.0"
Thanks for creating this library! I've been trying it out a bit and while using version 0.5.0 I kept encountering this error when using the Spinner, Table, and Select components:

[code]

Downgrading to 0.4.1 enabled each to work, though.

[2018-05-08 09:46] zeakd opened #80 "context is empty in Component constructor"
Hi. I'm making ink component using context which is used in [ink-redux](https://github.com/vadimdemedes/ink-redux).

when I use `getChildContext` method, `render` contains context but `constructor` does not.
[code]

thanks!

[2018-05-08 10:40] zeakd commented on #80
I make a PR for this. #81

[2018-05-09 03:45] matchai opened #82 "Add deprecation notice for the replacement of <Text/>"
With the replacement from `<Text/>` to `<Color/>`, many preexisting components for Ink have lost support, and now provide an obtuse and non-descriptive error message for the deprecated tag:
[code]

Unfortunately there didn't seem to be much info out there regarding the breaking change (no changelog for 0.5.0, no major symver change), it's hard for existing users to figure out what went wrong.

I w

[2018-05-09 09:05] zeakd opened #83 "Prevent console.log() while render is in progress"
Hi. I used console.log for debug, but console.log breakdown the ink app.

[code]

without console.log, it works fine.

Maybe ink needs debugging space like `ink-console`. (but ink-console doesn't work.)
Thanks.

[2018-05-09 14:38] jrunning commented on #83
I'm seeing the same thing on 0.5.0. Here's a minimal repro:

[code]

The output is:

If it's helpful, the here's the transpiled source:

[code]

[2018-05-09 14:52] jrunning commented on #83
Oddly, if you change the last two lines to this:

[code]

The error output changes to this:

Those last two lines transpile to this:

[code]

[2018-05-14 19:34] aicioara opened #84 "Color is not preserved when running in subprocess"
Ran into the following issue, while playing with Ink.

Take the following NodeJS app which prints a green text to stderr and dies

[code]

Run it as

[code]

And all looks as expected. However, if I run as below, all colors are gone.

[code]

Note that this is not the default behavior for console. The below works in both cases (from above).

[code]

NB. To make the example smaller and not hijack y

[2018-05-15 09:50] aicioara opened #85 "Extra redundant new line at end of render"
When rendering the app to the terminal, there is an extra redundant new line at end of render which is not occupied by anything. I could be doing something wrong, I am not quite sure.

To reproduce:

[code]

Expected:

[code]

Actual: having an additional new line at the bottom of the terminal that is not being used

[code]

[2018-05-15 10:31] aicioara commented on #85
I have been looking into this a bit more. This is more pronounced with `div`s. Take for instance the following examples

[code]

vs

[code]

vs

[code]

I can possibly open a PR for this, but wanted to first check if this is the desired behavior?

[2018-05-16 02:18] hustcc opened #86 "Color is not work in div ?"
Code [here](https://github.com/hustcc/aliyun-oss-deploy/blob/master/bin/Deploy.js#L19-L34).

[code]

Screenshot

![image](https://user-images.githubusercontent.com/7856674/40092901-59f127f8-58f2-11e8-8ff9-cd9f6ddf2eb4.png)

Color can work when code below, but new line each file is needed:

[code]

----

We need when the file uploaded success, show file url with green, otherwise red.

[2018-05-17 17:56] aicioara commented on #84
Closing this as the issue comes from chalk. Track progress at https://github.com/chalk/chalk/issues/274

[2018-05-17 17:56] #84 closed

[2018-05-18 02:02] #86 closed

[2018-05-20 18:11] vadimdemedes commented on #85
You are right, it comes from `log-update` here: https://github.com/sindresorhus/log-update/blob/master/index.js#L34. It's needed, so that terminal prompt doesn't end up on the same line with your CLI output.

[2018-05-20 18:11] #85 closed

[2018-05-20 19:00] vadimdemedes commented on #78
It's a complicated problem, I'm still working on it, so I can't promise any ETAs. But that's definitely something that should be possible in future.

❤️

[2018-05-20 19:01] vadimdemedes commented on #79
I accepted all the PRs by awesome people who upgraded these components to 0.5.0. Should be good now!

I didn't have time to write release notes for 0.5.0, will do that soon. Definitely taking the blame here!

[2018-05-20 19:01] #79 closed

[2018-05-20 19:07] vadimdemedes commented on #80
Closing, see #81.

[2018-05-20 19:07] #80 closed

[2018-05-20 19:09] vadimdemedes commented on #82
I'm definitely taking the blame here for skipping release notes for 0.5.0, I will add them soon.

Regarding deprecation notice, it's a bit tricky with CLIs, because there's no compilation step, where Ink could check for `process.env.NODE_ENV === 'production'` to know whether to show deprecation notice or not. So end users of CLI will see these deprecation notices too, which wouldn't be great.

Do

[2018-05-20 19:26] vadimdemedes commented on #83
Found the problem, since Ink has a special handling code for `console` methods (it clears the output, logs output, then rerenders again), it causes an infinite render loop. I will see if Ink could log a warning to prevent doing this or suppress console.log() while render is in progress. To fix this for now, move `console.log()` out of `render()` ;)

[2018-05-22 03:52] mgrip opened #88 "State updates overwrite each other"
Seems like state updates that happen before the component has a chance to render will overwrite each other

[2018-05-22 05:34] kentrino commented on #1
Why don't we rewrite all in TypeScript?

[2018-05-22 20:52] matchai commented on #82
I can't personally think of a solution that avoids presenting an error to a CLI end user.
At the moment these users are already seeing an error though. Though logging a deprecation notice to end users isn't ideal, it's better than the existing error.

[2018-05-22 21:28] mgrip opened #90 "Question: Reusing React?"
Forgive me if this discussion has happened elsewhere already, or if this is not even possible... but I'm curious if its been discussed to make `ink` basically analogous to `ReactDOM`, but for interacting with the cli, while being able to reuse `React` itself for all of the component-based logic?

Curious to hear your thoughts!

_p.s. this library is awesome, thank you for your contributions!_

[2018-05-22 21:54] mgrip commented on #90
also if this seems remotely plausible, would you be open to a pull request POC'ing this?

[2018-05-23 09:33] kentrino commented on #90
@mgrip
I had thought the same. Theoretically, ink should not mimic React, only should it conform to React's API. I checked MobX (a library that uses React's API) does not get along with ink.
If ink was created based on React and implemented like `ReactDOM`, it should work with MobX.

But I also think it's really tough to understand React API and how it should be implemented compatible with React (

[2018-06-04 02:42] GeoffreyPlitt opened #91 "NodeJS hello world example?"
I'm just starting to play with this. I'm trying to find the shortest way to run the example in your Readme.

I don't have a web stack, so I don't need webpack or a compilation step.

I copy https://github.com/vadimdemedes/ink#usage into a file called index.jsx, and then install babel-cli and transform-react-jsx, and do

```babel --plugins transform-react-jsx index.jsx```

I get

[code]

[2018-06-04 15:10] timhudson commented on #90
I was thinking about this as well over the weekend. I ran into an issue with `getChildContext` behaving differently than React. `ink` could skip the cost of seeking/maintaining parity with React internals by instead being a render path like ReactDOM.

What are the downsides to using React itself?

[2018-06-04 16:52] mgrip commented on #90
I have a small POC working for this just to prove out feasibility - @vadimdemedes let me know if you think this is a direction that would make sense for this project, otherwise I can spin it off into a different one.

[2018-06-06 04:28] GeoffreyPlitt commented on #91
@vadimdemedes Am I misinterpreting the demo/animation in the README, or does this work running in NodeJS rendering an app experience into Terminal/Console, i.e. STDOUT? Or is this mainly a browser technology?

[2018-06-07 11:09] jrschumacher opened #92 "Separate component files not working"
When I extract my components into their own files I get the following error:

[code]

Example:

[code]

[code]

[2018-06-16 13:28] rjoydip commented on #92
I am getting the same issue `SyntaxError: Unexpected token <`

[2018-06-22 21:40] jrschumacher commented on #92
@rjoydip I had to use the `import-jsx` module to get it working.

[2018-07-09 05:17] vadimdemedes commented on #90
Hey @mgrip, sorry for late reply, but yes, I would definitely be interested in reusing React! If you could send the link to a repo with a POC, it would be awesome!

[2018-07-09 05:32] vadimdemedes commented on #91
I copied the code from "Usage" and completed a "Getting Started" step (https://github.com/vadimdemedes/ink#getting-started), it works for me. Could you try again and see if it works?

[2018-07-09 05:34] vadimdemedes commented on #1
I'm not a fan.

What's the problem with providing definitions?

[2018-07-09 05:35] #88 closed

[2018-07-09 05:36] vadimdemedes commented on #92
@jrschumacher is right, either you need to transpile JSX using Babel or any other tool or use [import-jsx](https://github.com/vadimdemedes/import-jsx).

[2018-07-09 05:36] #92 closed

[2018-07-10 00:34] GeoffreyPlitt commented on #91
@vadimdemedes Can you post your code? The example uses JSX, which doesn't really work with NodeJS out of the box. I followed your instructions and get the following error, which is expected.

[code]

Very curious to see your actual code if you got it working in console.

[2018-07-14 15:18] mgrip commented on #90
No worries! Sorry I wanted to use this as a dependency for a different project I was working on, so I built it already as a new project 😕 https://github.com/mgrip/react-cli

[2018-07-14 16:55] vadimdemedes commented on #90
@mgrip That's great! Thank you for sharing, I will start experimenting with your reconciler and see what happens :)

[2018-07-20 22:22] egoarka commented on #91
@GeoffreyPlitt
Actually, I had the same problem.
It should work with [babel node](https://babeljs.io/docs/en/next/babel-node.html)
if you still get struggle, pull this [package.json](https://gist.github.com/egoarka/37734765b4f5ea56e6303fc647287e71) and type in console
`npm install && npx babel-node index.js`
don't forget to create index.js and type your code there
hope it helps you :)

[2018-07-20 22:33] egoarka commented on #83
@vadimdemedes I would suggest composing console.log output with render one
[code]

output:

[code]

[2018-07-21 18:55] GeoffreyPlitt commented on #91
@egoarka Did everything you said. Used your package.json and installed npx.

My index.js is:
[code]

[2018-07-21 19:04] egoarka commented on #91
@GeoffreyPlitt yes, it's apparently; `<div />` renders to blank string, you should provide some text, and *render* it e.g.

`
const {h, render} = require('ink');

const Demo = () => <div>hello world</div>;
render(<Demo />);
`

[2018-07-21 19:31] GeoffreyPlitt commented on #91
That worked, thanks!

[2018-07-21 19:31] #91 closed

[2018-07-22 16:44] Leko opened #94 "Proposal: add clear option to unmount"
Hi there.
I propose to add `clear` option to unmount() to clear ink output.

I would like to build a part of the CLI application with ink.

Example:

[code]

Expected behavior (clear=false, by default):

[code]

Expected behavior (clear=true):

[code]

How about it?

[2018-07-22 23:58] WalterWeidner opened #95 "Proposal: Add an option to disable default "escape" behavior"
I would like to use the escape key to return to top level menus in my CLI tool. The default escape behavior, however, ends the process by default.

Could we make this configurable?

The fix is pretty simple here: [https://github.com/vadimdemedes/ink/blob/master/index.js#L64](https://github.com/vadimdemedes/ink/blob/master/index.js#L64)

For example:
[code]

[2018-08-17 03:42] vadimdemedes commented on #83
@egoarka I wouldn't want to do that, since it's not an expected behavior of component's render() function and it's not that simple.

[2018-08-17 03:43] vadimdemedes commented on #95
Agree, I imagine this behavior could be annoying, I use only Ctrl+C to exit the process myself.

[2018-08-17 03:44] vadimdemedes commented on #94
Could you explain the use case for it? Where would it be useful?

[2018-09-28 11:46] Rockson opened #97 "React set state not working properly"
[code]

This code should print 2 - 2, instead it prints 1 - 2 because in the second setState `...state.foo` is `{a: 1, b: 1}` so it doesn't update with the previous one.
With the actual version of react this problem doesn't exists

[Here is the sandbox](https://codesandbox.io/s/l5rxkj3jrq)

[2018-10-09 21:16] jdeniau commented on #57
Apparently, ink 2.x will be a "real" implementation of react, with react-reconcilier, so all react features will be "built-in"

[2018-10-10 04:38] rozzzly commented on #57
Hurray for flexboxes!!

[2018-10-16 19:05] jdeniau commented on #97
Ink in it's actual version (0.x) is "inspired" by react, but not using react itself.

The v2 version, currently in beta, does use react and react-reconcilier, so I think it will work fine ;)

[2018-10-16 19:09] jdeniau commented on #35
Hi, you can add [changelog-view](https://github.com/jdeniau/changelog-view) if you want :)

It's a small cli app that try to check changelogs from installed version of packages. It works with PHP's composer and npm / yarn node_modules

[2018-10-16 22:31] Rockson commented on #97
Thanks for the good news :blush:

[2018-10-19 05:30] jdeniau commented on #97
@vadimdemedes ink-tab is already ready for it 😉

https://github.com/jdeniau/ink-tab/blob/next/package.json#L27

[2018-10-19 13:50] ptrhck opened #99 "How to integrate in React App"
Hi,

great project! I would like to provide ink cli as a component in an react app. I have been using V2, but I do not really know how to get it going. See live demo [here](https://codesandbox.io/s/0q5qkqz9zp).

Cheers!

[2018-10-19 23:37] rozzzly opened #100 "memory leak 😨 / how can I assist with v2?"
Hey @vadimdemedes! I really like this project, and have already started to use the `@next` branch in a project of mine but have run into several issues. I would like to help with the v2 rewrite.

The major issue is a memory leak. You use yoga which (for node) is compiled from C++ into a native add on. As with anything native, memory management is a vital concern and it appears the current implemen

[2018-10-20 21:28] vadimdemedes commented on #97
@jdeniau Awesome!

[2018-10-20 21:29] vadimdemedes commented on #99
Ink is a React renderer for CLI only, it's not meant to be used outside the terminal.

[2018-10-20 21:29] #99 closed

[2018-10-20 21:37] vadimdemedes commented on #100
Thanks, glad you like the project!

Regarding memory leak, yes I'm aware of this issue. There's a simpler way to free up all nodes - `yogaNode.freeRecursive()`. I didn't add it, because `<Box>` has this method https://github.com/vadimdemedes/ink/blob/v2.0.0-2/src/components/Box.js#L52, which returns actual width of component. It's useful for things like progress bar, where you need to calculate th

[2018-10-22 03:47] vadimdemedes commented on #100
Released `2.0.0-3` to fix memory leak, which saves the last node tree and frees it up on each consequent render. Can't link to a commit, because GitHub is now having data inconsistency issues (can't see it).

[2018-10-23 09:55] damianbaar commented on #1
i've started some work [here](https://github.com/hungry-consulting/ink-components).
For now, there is a port of `progress-bar` and `divider` + `flexbox` and `chalk` (a bit hacky) typings.

after switching to `v2` I was able to run `react-router` and normal `react` typings so it is huge step forward to me. @vadimdemedes - thanks for this move 👍

[more details here](https://github.com/hungry-consult

[2018-10-23 14:15] rozzzly commented on #1
If I'm working with `some-pkg` and notice that its' type defs are outdated, I'll usually try to fix them. However, if the typedefs are provided by `@types/some-pkg` which means the definitions are stored in `DefinitelyTyped/DefinitelyTyped` I won't even bother, I'll create a new file in `./type-stubs` containing just `declare module 'some-pkg';` and say f🎉ck it. Because a) that repo won't even loa

[2018-10-23 21:58] rozzzly commented on #100
okay quick update:

checkout
https://github.com/rozzzly/ink/commits/next

Fixed an issue with the reconciler would A) throw a fit about `resetTextContent() is not a function` or B) concat old text with new text

This is a quick sketch to illustrate what I was seeing, but I'm writing it on the fly so it's possible it won't reproduce as-is. Any given a component such as this:

[code]

1. You render

[2018-10-24 21:31] rstacruz commented on #95
I'd be very interested to have this option, too! I keep on pressing escape by mistake.

[2018-10-30 04:38] vadimdemedes commented on #100
Interesting. Thanks for the detailed repro steps, will check it out.

[2018-11-05 01:00] vadimdemedes commented on #100
Fixed via https://github.com/vadimdemedes/ink/commit/399c7817de4ac58dcd4dae37e9643870a4d6b8d8, thanks!

[2018-11-05 02:39] vadimdemedes commented on #100
Regarding diffing on update, I've decided not to do it just yet, until I see actual use cases for it. So far I haven't been able to reproduce the flickering even with some really "stressful" benchmarks. Output flickers only when amount of rows is bigger than the height of the terminal. In that case though, `log-update` can't update rows that are out of terminal viewport, I don't think there's work

[2018-11-05 23:47] rozzzly commented on #100
Here's where I get screen flickers:

  * Terminal dimensions are at 140x14
  * 1st row contains a spinner (custom implementation for ink2, but functionally identical to `ink-spinner`
  * other 13 rows _filled_ with static content

I doubt these are the minimum requirements to get flickering either. I suspect your "stressful" benchmarks don't write nearly as much to the stdout buffer as my use case

[2018-11-05 23:47] rozzzly commented on #100
btw I noticed you haven't tagged that last commit as `v2.0.0-4` yet 😉

[2018-11-06 04:49] vadimdemedes commented on #100
Sure, good luck with your own version of Ink :) Thanks for your help!

[2018-11-06 04:49] #100 closed

[2018-11-12 22:44] larsgw opened #103 "Calling renderString with an array of strings"
To [`cli-columns`](https://www.npmjs.com/package/cli-columns)nify my output, I used the `StringComponent`/`renderString` pattern from e.g. `Indent`. However, the `children` aren't passed as an array, I noticed. Is the recommended pattern in this case the following?

[code]

I think it does the same under the hood, but it feels a bit like a hack. The other workaround *is* more of a hack though, so

[2018-11-12 23:00] vadimdemedes commented on #103
I recommend using Ink 2 beta (https://github.com/vadimdemedes/ink/tree/next), where you can use `<Box>` component. Ink 2 supports flexbox layout, so instead of using `cli-columns` you can use:

[code]

And "A" and "B" will be on the same line, taking 50% of available space each.

[2018-11-12 23:04] larsgw commented on #103
Oh, so that's where those feature requests went :slightly_smiling_face:. Thanks for the info, will look into it!

[2018-11-12 23:04] #103 closed

[2018-11-18 15:59] maticzav opened #106 "Forwarding properties directly breaks rendering process"
Hey 👋,

Thank you for building a new version of `Ink`. I am rewriting Emma entirely and wanted to use the second version since it's a lot easier to gain typescript support in combination with React (ps.: let me know if you want me to make type definitions PR).

[code]

I hope I haven't missed any TypeScript definition in the code above. Regardless, if we use the `Bar` component instead of `Foo` th

[2018-11-19 14:16] vadimdemedes commented on #106
Hey! Yep, that's a known issue, it's a regression from https://github.com/vadimdemedes/ink/commit/a8be56251f9e678af6efcd88c6b54f027395cc16, reverting and releasing now ;)

Re TS definitions, thanks, but I want to hold off on this until I'm sure that API won't change (after all there's not official 2.0 release yet).

[2018-11-19 14:20] vadimdemedes commented on #106
Released `2.0.0-9`.

[2018-11-21 11:55] shlomokraus opened #108 "Using react hooks with ink: Invariant Violation"
Hey,

I am trying to use the new react hooks with Ink components, but I get the error:

[code]

I am using the hooks inside a function component, so I guess it is related to Ink implementation?

Here is the code:

[code]

[2018-11-21 17:22] maticzav opened #109 "dynamic children break div"
Hey 👋,

I have captured two samples of the problem as I couldn't find the origin of the error besides the fact that it has to be connected with `children` somehow. I have made an "infinite scroll" component which adapts the mask as you move up and down but there seems to be a rendering problem as with one case certain items flicker. I am using `div` to wrap all the children but it works all the sa

[2018-11-26 13:44] bigbigbo opened #110 "i don't know why can't work on mac that keyboard input"
I run the example well on windows7, but I don't known why it can't work on mac

If I abandon this code, it can work well, but I don't think it's a problem
[code]

it can run well
[code]
It is my code. [example](https://github.com/bigbigbo/i-have-a-dream)

thx.

[2018-11-27 01:58] bigbigbo commented on #110
I use `ink-select-input` or others keyword input component can not use keyword input

[2018-12-25 19:57] sindresorhus commented on #1
@rozzzly Awesome! Try to follow this style guide: https://github.com/sindresorhus/typescript-definition-style-guide

[2019-01-04 03:44] mAAdhaTTah commented on #108
The issue is Ink is getting pegged to a version of react-reconciler that doesn't support hooks yet. I was able to get it working by using yarn and adding these resolutions to my package.json:

[code]

Those alpha versions have the hooks code. Then you can import the hooks and use them. I converted the README:

[code]

[2019-01-15 09:32] shlomokraus commented on #108
Doesn't work for me, when I am doing yarn install it says
`warning Resolution field "scheduler@0.12.0-alpha.3" is incompatible with requested version "scheduler@^0.11.0-alpha.0"`
And still getting the invariant violation.

Can you please share the complete package.json please?

[2019-01-15 09:33] shlomokraus commented on #108
Which version of react are you using?

[2019-01-15 12:58] mAAdhaTTah commented on #108
It looks like your "dependencies" field has a version of `scheduler`, which it shouldn't. You should just use the "resolutions" field. Also, I tested this prior to the latest hooks version, so I'm not sure what version those should be now.

[2019-01-15 20:06] mAAdhaTTah commented on #108
This is what I had when it worked:

[code]

[code]

I know they published a new alpha version, so I don't know if that changes things, but it did work at the time.

[2019-01-15 20:07] mAAdhaTTah commented on #108
Oh, wait, you're using ink's `h`, rather than React.createElement. That's your issue.

[2019-01-17 16:04] shlomokraus commented on #108
I thought h pragma is required. What is the correct setup then?

[2019-01-17 16:09] mAAdhaTTah commented on #108
Ohhh my mistake, here's the issue: the current version of Ink is a custom implementation, so it's not tied to React in particular so much as it's inspired by it. The next version (2.0, as seen on the `next` branch) uses React directly, which is what you'll need to make hooks work. Since hooks are coupled to React, you can't use hooks with the current version of Ink at all.

If you switch to the `n

[2019-01-21 13:19] sdgluck opened #114 "Console patching interfering with CLI"
Related to #83.

The patching of console is causing an issue for me. My CLI patches console already for its own purposes, and Ink's patching interferes with this.

At the moment I am reversing the patches on console methods after calling `render` for the first time, which you can see here: https://github.com/wpk-cli/wpk/blob/ink/packages/command-build/src/terminal/index.js#L55

Is there some way I

[2019-01-27 02:30] vadimdemedes commented on #114
Glad you're enjoying Ink! I think you'll enjoy Ink 2 even more, since it doesn't have any kind of console patching :) You can check the docs out here https://github.com/vadimdemedes/ink/tree/next and install it via `npm install ink@next`.

[2019-01-27 02:32] vadimdemedes commented on #108
Thanks everyone for pitching in on this issue! If I'm not mistaken, release of React Hooks is around the corner and they should release stable versions of their packages, which I will be able to safely upgrade Ink to. Afterwards hooks will be usable with Ink.

[2019-01-27 05:53] fnky commented on #108
Though, I have noticed that hooks doesn't quite work the way you're used to on browser/native environments, due to the nature of how the lifecycle/lifetime of a program works in a command-line.

For example, I tried to port `ink-text-input` using hooks and can't get input to work properly. I have tried with `useEffect` and `process.on('keypress')` as well as `process.stdin.resume()`.

Without usin

[2019-01-27 06:41] fnky commented on #108
So I just investigated the keypress event thing, and I got it sorted out by using `readline.emitKeypressEvents` to emit keypress events for `process.stdin` and it seemed to work.

[2019-01-27 09:50] sdgluck commented on #114
Thanks @vadimdemedes. I updated to `ink@next` however `ink-redux` is not working now:

[code]

Looks like some small changes are needed to use `React.Component` instead of `ink.Component`. I did this myself locally but got an error where the connect HOC tries to get the store off the context. Not sure what's going on there.

For now I'll stick with patching on `ink@latest`.

[2019-01-27 10:39] sdgluck commented on #114
Realised that `ink-redux` is redundant as ink now uses React. 👍  So I switched to use `redux` and `react-redux`. However I now am receiving a different error, but will open a new issue for that.

[2019-01-27 10:39] #114 closed

[2019-01-27 10:43] sdgluck opened #115 "ink@next: TypeError: Cannot read property 'length' of undefined"
I am receiving this error after updating my app to use `ink@next`, and moving from `ink-redux` to `redux` with `react-redux`:

[code]

Not sure what other information to provide, so please let me know if there is anything.

Code for the refactor of `ink` -> `ink@next` is here in case that is useful: https://github.com/wpk-cli/wpk/blob/ink-next/packages/command-build/src/terminal/index.js

[2019-01-27 10:50] sdgluck commented on #115
Looks like there is an assumption that the property `node.childNodes` always exists, but in this instance it doesn't. Seems like a bug. I can put in a PR with a fix if you agree.

[2019-01-27 10:53] sdgluck opened #116 "ink@next: TypeError: insertInContainerBefore is not a function"
(After fixing #115 locally.)

Get this error at some point during my app rendering:

[code]

Looks like ink's reconciler doesn't implement this method?

[2019-01-27 16:17] vadimdemedes commented on #116
I pushed a fix for it yesterday, but didn't publish, until now. If you update to latest `ink@next`, it should be fixed.

[2019-01-27 16:17] #116 closed

[2019-01-28 07:14] Jessidhia commented on #108
Yeah, older versions of `scheduler` that are used by `useEffect`, when run in not-a-browser, will just set a timeout that expires on infinity. React _will_ force-execute all pending `useEffect`s before doing anything else that is new, but until then it'll just be pending forever.

Current `scheduler` (and the one that will be used by 16.8.0) will always use timeouts of `0` and merely order things

[2019-01-28 19:24] benwiley4000 commented on #57
@vadimdemedes I noticed v2 has several releases. What's the stability of the v2 API - can I start using it and should I expect anything to change much?

[2019-01-28 19:53] vadimdemedes commented on #57
@benwiley4000 I don't expect major changes at this point to the API, but just to be safe I'd stick to `render(<JSX/>)` only for now. Full v2 release should be out very soon.

[2019-02-03 06:53] bestguy opened #119 "Bold text inline?"
I'm attempting to make a word in the middle of line bold, but <Color /> seems to add line breaks?

    <div>
      I am <Color bold>bold</Color>, hello world.
    </div>

Output:

[code]

What is the correct way to accomplish this?

[2019-02-08 14:29] Anifacted commented on #95
In case you need a workaround: This can be hacked by changing the name of the `key` object on the fly. In your keypress handler:

[code]

It works because your handler runs before Ink's handler, but it's a dirty hack ;)

[2019-02-08 14:39] Anifacted commented on #95
It still has a bit of a delay, though :/

[2019-02-09 23:44] michaelzoidl opened #122 "Does ink@next break almost all open source components?"
Hey, i've checked out the new `@next` version, i'am wondering why a lot of components throwing an error when importing/using them:

[code]

If i understood everything right the problem is the move to the "normal" `react`, right? So every component which uses `h` is now broken?

I added a new branch (v2) in my project with the breaking case to reproduce this:
[`mvg-cli@v2`](https://github.com/entwi

[2019-02-10 07:09] soederpop commented on #122
Yes given that the previous version didn't really use React, and this one does, I've found a lot of the older open source components don't work.

[2019-02-11 02:35] mAAdhaTTah commented on #108
@Jessidhia I think this is related to Ink not implementing `schedulePassiveEffects` or `cancelPassiveEffects` in its reconciler. With the now-released version of Hooks, I'm getting errors related to that function being missing. Anyone else play with this yet?

[2019-02-12 02:54] Jessidhia commented on #108
A very bare implementation would be `setTimeout` / `cancelTimeout`; probably the best if there is no way to know when/if the terminal emulator is done updating the screen.

[2019-02-12 13:19] mAAdhaTTah commented on #108
Cool, I'm working on a CLI tool with Ink@next so I'll PR this upstream. Ink also would need to bump some dep versions to get it working with Hooks again.

[2019-02-12 18:56] lucasconstantino commented on #119
Having the same issue... Text and Color both use Box underneath, but even using chalk directly gives me this problem. I solved it by wrapping everything in a Box component - which uses flex-box for internal layout, thus fixing the issue.

[2019-02-13 03:27] bestguy commented on #119
Ah thanks, let me try that workaround

[2019-02-13 03:37] bestguy commented on #119
Yes this works, thank you!

[code]

Leaving issue open as unsure if this is intentional or a bug.

[2019-02-13 03:39] lucasconstantino commented on #119
Honestly, if that's intentional it it definitely confusing and missing in the docs...

[2019-02-14 11:24] KwanMan commented on #122
Maybe the v2 README should be updated to not list components that don't work with it anymore

[2019-02-14 16:04] joetidee opened #123 "How to get the terminal to wait for input?"
I have created my first ink project, just a simple text input. But, when I run it using `npm run dev` it outputs the text

but then exits and doesn't wait for input. Here is my code:

import React, {Component} from 'react';
import { render } from 'ink';
import TextInput from './components/input-text';

[code]

[code]

[2019-02-15 06:33] vadimdemedes commented on #122
That is correct, Ink 2 is a total rewrite from scratch. I've hit into a lot of roadblocks with Ink 1 and also realized I can't keep up with implementing all of React's latest features. Therefore I decided to use React itself :) I've migrated https://github.com/sindresorhus/emoj to v2 from v1 and it wasn't complicated, to be honest. I will write a migration guide before release though anyway.

@Kwa

[2019-02-15 06:35] vadimdemedes commented on #119
`<div>` or `<span>` shouldn't be used with Ink 2, that's why all code examples and mentions of them are removed from the readme - https://github.com/vadimdemedes/ink/tree/next. Use `<Box>` every time you think to use a `<div>` ;)

[2019-02-15 06:36] vadimdemedes commented on #119
Also, keep in mind that every `<Box>` is a flexbox container, same as `<div style="display: flex">` in the browser.

[2019-02-15 06:38] vadimdemedes commented on #123
You can check out how https://github.com/vadimdemedes/ink-text-input/tree/next implements it - https://github.com/vadimdemedes/ink-text-input/blob/next/src/index.js or just use the component itself.

[2019-02-15 15:22] joetidee commented on #123
I abandoned the `ink-text-input` component as it didn't seem to be working well with the latest version of `ink`. Are you saying that it should work with v2 of `ink`?

[2019-02-15 17:06] lucasconstantino commented on #119
@vadimdemedes we got that. But, it really seems odd that the default layout behavior of a `Color` component is that of a block element, not that of an inline element.

[2019-02-16 01:20] zkat commented on #108
This should be fixed now ✌️ See #124

[2019-02-17 00:39] vadimdemedes commented on #119
It's not the default layout behavior of `<Color>`, parent container decides how children are laid out. If you'll have this sort of markup, all text will be on one line:

[code]

[2019-02-17 00:39] vadimdemedes commented on #123
Hm yeah, `ink-text-input@next` should work with Ink 2 (`ink@next`). Could you describe the issues you were running into?

[2019-02-17 00:46] lucasconstantino commented on #119
I got the point. Make sense, really. Maybe this should be better documented, though. I'm heavily using `ink` right now, so perhaps I'll make some documentation pull-requests ;)

By the way: v2 is way better, generally speaking.

[2019-02-17 00:56] vadimdemedes commented on #108
Hooks are working now thanks to @zkat!

[2019-02-17 00:56] #108 closed

[2019-02-17 01:05] vadimdemedes commented on #119
I will go through documentation again and see if I missed anything, thanks! Glad you like v2, let me know if you run into any issues!

[2019-02-17 01:06] #32 closed

[2019-02-17 01:06] vadimdemedes commented on #31
Fixed in Ink 2.

[2019-02-17 01:06] #31 closed

[2019-02-17 01:07] vadimdemedes commented on #21
Auto fixed in Ink 2 by using React directly.

[2019-02-17 01:07] vadimdemedes commented on #45
Auto fixed in Ink 2 by using React directly.

[2019-02-17 01:07] #45 closed

[2019-02-17 01:07] vadimdemedes commented on #51
`<Indent>` is gone in Ink 2.

[2019-02-17 01:07] #51 closed

[2019-02-17 01:08] #52 closed

[2019-02-17 01:12] vadimdemedes commented on #48
This bug indeed depends on terminal size. If output from your command is taller than terminal height, it can't be correctly rendered, unfortunately. That's the limitation of the environment Ink is in 🤷‍♂️

In Ink 2 there's a `<Static>` component which permanently flushes output of its children to terminal, which I believe should help most cases. For example, in Jest or AVA or any other test framew

[2019-02-17 01:12] #48 closed

[2019-02-17 01:13] vadimdemedes commented on #90
Feels good to close this issue :) Ink 2 uses React!

[2019-02-17 01:13] #90 closed

[2019-02-17 01:15] vadimdemedes commented on #78
It's now possible to get available space for components, but I'd still wouldn't recommend using it for anything complex. It's a good fit for simple things like progress bars, etc. If you need a full blown fullscreen CLI, I'd recommend going with `react-blessed`.

[2019-02-17 01:15] #78 closed

[2019-02-17 01:15] vadimdemedes commented on #35
There's "Built with Ink" section in readme now.

[2019-02-17 01:15] #35 closed

[2019-02-17 01:16] vadimdemedes commented on #83
Shouldn't be a problem anymore in Ink 2, since there's no more patching of `console.log()`.

[2019-02-17 01:16] #83 closed

[2019-02-17 01:16] vadimdemedes commented on #97
Closing, as Ink 2 uses React directly, so it shouldn't be a problem anymore.

[2019-02-17 01:16] #97 closed

[2019-02-17 01:17] #106 closed

[2019-02-17 01:17] vadimdemedes commented on #109
Shouldn't be a problem anymore with Ink 2, but please let me know if it's still there.

[2019-02-17 01:17] #109 closed

[2019-02-17 01:19] vadimdemedes commented on #57
Closing as Ink 2 uses React directly, so Ink doesn't need to reimplement these.

[2019-02-17 01:19] #57 closed

[2019-02-17 01:19] vadimdemedes commented on #95
Closing as Ink 2 won't have this "quit via escape" functionality at all.

[2019-02-17 01:19] #95 closed

[2019-02-17 15:17] bestguy commented on #119
Thanks for the update and info

[2019-02-17 15:17] #119 closed

[2019-02-17 21:34] zkat opened #125 "[v2] Feature request: renderPromise"
My use case for ink involves integrating it into a separate application that has its own exit handling and all that. In order to integrate ink, I need to have two things:

1. a way to exit from ink from within an ink component ("I've reached the final step, now please exit rendering")
2. a `renderPromise()` or similar method, instead of the current `render`, that resolves when the app unmounts.

I

[2019-02-18 04:59] vadimdemedes commented on #125
Good idea, I think Ink could expose this via a new `AppContext` which would have `exit()` method and trigger unmounting of the whole app.

This is a reasonable feature request too, although this one's a bit trickier, ideally I would prefer to have only one render method. Trickier, because currently `render()` returns an `unmount()` function, so it would be a breaking change. Also, it seems that wh

[2019-02-18 05:14] zkat commented on #125
This sounds great! The biggest blocker for me right now is the Ctrl+c handling, so that would need to be overridable too. Thanks for your response!

[2019-02-18 17:59] zkat commented on #115
@vadimdemedes I can confirm I'm getting this error, too.

Repro steps:

1. `git clone https://github.com/npm/libpickupdates && cd libpickupdates`
2. `npm i && npm run build`
3. `node index.js` and continue without selecting any packages to update
4. crash is reproduced, every time

[2019-02-18 20:02] zkat opened #126 "Screen does not clear properly if terminal lines wrap"
When a component has a line that wraps, refreshing doesn't seem to work properly on rerender.

Repro steps:

1. `git clone https://github.com/npm/libpickupdates && cd libpickupdates`
2. `git checkout bed8908`
3. `npm i && npm run build`
4. `node index.js`
5. Move around with arrow keys, press spacebar, etc, in the update picker

See gif:

![kapture 2019-02-18 at 11 57 30](https://user-images.githu

[2019-02-18 20:14] mgrip commented on #90
Looks awesome, thanks @vadimdemedes!

[2019-02-18 20:26] vadimdemedes commented on #126
That's actually fixed already, but didn't release it yet. I'm going to address other issues you've pointed out and then release it all at once :) Hope to get it all sorted out in a few hours!

[2019-02-18 20:49] zkat commented on #126
bugs that are already fixed are the best kinds of bug. Thanks, @vadimdemedes!

[2019-02-19 00:35] vadimdemedes commented on #125
Ok, `2.0.0-13` is released!

How to unmount:

[code]

How to wait until app finished executing:

[code]

How to exit from within the app:

[code]

How to disable default Ctrl+C handling when in raw mode:

[code]

Thanks for the suggestions, @zkat!

[2019-02-19 00:35] #125 closed

[2019-02-19 00:36] vadimdemedes commented on #126
Released `2.0.0-13` and tested `libpickupdates` with it, seems to be ok now!

[2019-02-19 00:36] #126 closed

[2019-02-19 00:36] vadimdemedes commented on #115
With the latest `2.0.0-13` release, this issue shouldn't be occurring anymore, thanks for the report!

[2019-02-19 00:36] #115 closed

[2019-02-19 20:52] zkat opened #127 "[v2] can't exit on error with ^C if exitOnCtrlC: false"
Hi again! I'm trying out the new patches in `2.0.0-15` and found out that my custom `^C` handler, which just does `app.unmount()`, isn't able to unmount the app if an error happens -- in fact, there's no way to exit at all!

1. `git clone https://github.com/npm/libpickupdates`
2. `cd libpickupdates && git checkout zkat/exit-on-error`
3. `npm run build`
4. `node index.js`
5. Try to get out without

[2019-02-19 20:58] vadimdemedes commented on #127
Hm interesting, I'm at work now, but will investigate in about 5 hours.

[2019-02-20 03:23] vadimdemedes commented on #127
Reproduced with:

[code]

[2019-02-20 03:30] vadimdemedes commented on #127
Figured it out, it needs `pause()` and `resume()` to let the process quit:

[code]

[2019-02-20 03:34] vadimdemedes commented on #127
It seems the same problem occurs when using `on('data')` too, so I will update Ink to `pause()` and `resume()` too, which should fix npm's CLI too!

[2019-02-20 04:57] vadimdemedes commented on #127
I've also added tests to ensure processes using Ink always exit cleanly, without `process.exit()`, see https://github.com/vadimdemedes/ink/commit/3d477dbc0e35f47bb497ef72c1650b3cfaf9f625.

Released `2.0.0-16`, which should fix this issue!

[2019-02-20 17:44] zkat opened #130 "[v2] ^C during React state update triggers warning"
Every now and then, when I ^C, I've started getting this message after updating to `2.0.0-16`.

#### Repro Steps:

1. clone `npm/libpickupdates`
2. `cd libpickupdates && npm i && npm run build`
3. `node index.js`
4. Try to ^C ONCE during `checking dependency updates` phase.
5. Repeat until the warning is logged. It doesn't take too many tries to get it.

#### Result

<img width="693" alt="screen s

[2019-02-20 17:48] vadimdemedes commented on #130
Interesting, it should unmount and let the process exit on Ctrl+C. Any chance you have a timer/event listener/async op that doesn't get cleaned up in `componentWillUnmount()`?

[2019-02-20 18:13] zkat commented on #130
@vadimdemedes Ah! Yes, this makes sense. I'm using `setTimeout()` and that's probably what's triggering this. Sorry for the trouble! I'll close this ticket now, since I'm pretty sure I understand what's going on now. <3

p.s. thanks for the update yesterday. Things are working _wonderfully_.

[2019-02-20 18:13] #130 closed

[2019-02-20 18:17] vadimdemedes commented on #130
No worries! Glad to hear it's working great :) I was waiting until you confirmed everything was smooth, and now I think Ink 2 is ready for the official release!

[2019-02-20 18:26] zkat commented on #130
Looking forward to it! I'll keep filing issues as I find them. Very excited to show off all this work once we get it into npm, too :D

[2019-02-20 18:45] #127 closed

[2019-02-20 19:46] zkat opened #131 "[v2] re-rendering devours previous lines?"
This only seems to happen on Hyper for me, when using tmux with a log line and not all the time, but I managed to get a recording of it, and my `npm pick-updates` npm branch seems to reproduce it for me fairly often.

#### Repro Steps

1. Get Hyper and tmux
1. `git clone https://github.com/npm/cli && cd cli`
2. `make link`
3. `npm pick-updates`
4. Move your cursor around.

#### Results

![kapture

[2019-02-20 19:48] vadimdemedes commented on #131
Didn't see that before, will check it out today!

[2019-02-21 07:46] vadimdemedes commented on #131
Reproduced this after resizing Hyper, it seems Hyper doesn't wrap terminal output correctly as you resize the window.

[2019-02-21 08:23] vadimdemedes commented on #131
I was unable to fix it yet, but I do have some ideas that I'll try out tomorrow.

[2019-02-22 07:53] vadimdemedes commented on #131
It seems I'll have to implement own wrapping of terminal output. I've tried `wrap-ansi` and `terminal-kit`, but no luck. If you know of any other packages that wrap output while handling ANSI escapes, please send me a link!

[2019-02-24 07:35] vadimdemedes commented on #131
After implementing 3 different functions for wrapping terminal output, I decided to try to patch `wrap-ansi` itself: https://github.com/chalk/wrap-ansi/pull/29. It still has one issue left to fix, but I thought it would be useful to give you an update and a way to track progress of this issue.

[2019-02-25 06:58] zkat commented on #131
Thanks a lot for looking into this! Hopefully they'll land your patch soon 💚

[2019-02-27 05:19] jamestalmage opened #132 "Multiple identical static outputs in a row don't get rendered"
I'm using `Static` to log previously entered commands.

[code]

However, if I enter the same command twice, it doesn't get re-rendered.

My guess is that it has to do with this logic [here](https://github.com/vadimdemedes/ink/blob/da5ff3df952c817a305f3fc1c33165d04dfa17c1/src/render.js#L56).

Removing the last condition of that line causes the static item to be rendered 3 times. But it gets rendere

[2019-02-27 07:00] vadimdemedes commented on #132
There can only be one `<Static>` element:

Also, make sure to assign unique `key`s to each child of `<Static>`:

[code]

[2019-03-02 21:16] jedahan opened #133 "[v2] Another example?"
So I got a weird little example working with react-hooks, and listening to keypresses. I think theres a decent amount of refactoring to do, but thought it might be useful for others.

[code]

[code]

[2019-03-04 07:26] vadimdemedes commented on #131
Fixed in 2.0.0-17!

[2019-03-04 07:26] #131 closed

[2019-03-04 07:26] #122 closed

[2019-03-04 07:27] vadimdemedes commented on #110
Closing due to inactivity.

[2019-03-04 07:27] #110 closed

[2019-03-04 07:27] #94 closed

[2019-03-04 07:28] vadimdemedes commented on #132
Closing for now, let me know if it didn't work and I'll reopen it again ;)

[2019-03-04 08:43] SimenB commented on #1
@rozzzly would you be able to put together that PR? Happy to chip in if you want some help

[2019-03-04 12:23] SimenB commented on #1
Opened up a PR with the changes I had to make locally to make it compile against @rozzzly's typings: https://github.com/rozzzly/template-ts-jest-webpack/pull/1

[2019-03-04 19:17] zkat opened #135 "[v2] Congratulations!"
No issues here but I wanted to send you some huge congrats on getting v2 out! It was some awesome, hard work, and I'm looking forward to seeing all the amazing things that get created with this. This is a huge step forward for command line UIs!
✨ 🚀 ✨

[2019-03-04 19:36] vadimdemedes commented on #135
Thank you so much! 🎉 I'm extremely excited to see `npm pick-updates` command be powered by Ink, can't wait to check it out live!

P.S. I did a quiet release yesterday, but I'm going to "officially" announce it this week with a blog post and fireworks 😆 Also going to publish `ink-testing-library` today + migration guide from Ink 0.x, then should be good to go!

[2019-03-04 20:33] SimenB commented on #1
I've opened up #136 as a start

[2019-03-04 22:02] zkat commented on #135
Excellent. If you DM me on twitter when you announce it, I'll give you some RTs and attention on there for it 👍

[2019-03-04 22:03] vadimdemedes commented on #135
That'd be great, thank you!

[2019-03-05 06:30] #1 closed

[2019-03-06 06:02] codyaverett commented on #135
I'm extremely excited about this too!  Great work @vadimdemedes !!!

[2019-03-06 07:31] vadimdemedes commented on #135
Thank you @codyaverett! :)

[2019-03-07 05:28] sindresorhus opened #137 "React Hooks"
I'm opening this issue so we can discuss how Ink could take advantage of [React Hooks](https://reactjs.org/docs/hooks-intro.html).

For example, maybe `useStdin()` instead of `<StdinContext>`?

[2019-03-07 05:43] LitoMore commented on #135
An awesome package for CLI tools! Good work @vadimdemedes !

[2019-03-07 05:48] sindresorhus opened #138 "Add support for keypress events"
To be able to have the component rerendered on keypresses and get the keys.

Ink would need to do `readline.emitKeypressEvents(stdin);` in https://github.com/vadimdemedes/ink/blob/master/src/components/App.js#L61 And it requires raw-mode.

After enabling the above, Ink could do something like this internally:

[code]

My initial idea was to expose a `useKeypress()` React hook. @vadimdemedes sugges

[2019-03-07 05:54] sindresorhus opened #139 "Warnings are printed when testing an Ink component"
[code]

According to @vadimdemedes:

[2019-03-07 06:29] sindresorhus commented on #133
@jedahan I'm proposing Ink comes with built-in support for handling key presses => https://github.com/vadimdemedes/ink/issues/138

[2019-03-07 06:31] sindresorhus commented on #133
Use of hooks might simplify your example further too => https://github.com/vadimdemedes/ink/issues/137

[2019-03-07 06:48] sindresorhus opened #142 "Add built-in support for animations"
It's easy to get the animation interval handling wrong and if it's built-in we could potentially consolidate multiple timers and frame updates from different components.

Having it built-in would simplify the logic in components like: https://github.com/vadimdemedes/ink-spinner/blob/master/src/index.js

It could either be an `<Animation>` component or maybe a hook `useAnimation()`?

Feedback wante

[2019-03-07 10:17] gc opened #143 "Suggestion: create-ink-app"
a "create-ink-app" CLI application, made by ink, seems pretty fitting - and would be very useful I think in instantly having a project setup without having to setup babel/etc. For example, this is definitely a cool project that a lot of people are having a look at, if they could instantly have an example running on their machine it would be nice.

It could also serve as an example of a fairly comp

[2019-03-07 10:30] SimenB commented on #143
There is https://github.com/vadimdemedes/generator-ink-cli

Having one that works with `npm init` and `yarn create` would be cool, though

[2019-03-07 11:49] thebuilder opened #144 "Suggestion: add prettier"
It's not that i want to start the whole **space** vs **tab** debate, but because all the examples are using tab for indentation, trying to get an understanding of the code is pretty hard when viewed on mobile.

![img_4a38707ec072-1](https://user-images.githubusercontent.com/3764345/53954527-c1327800-40d6-11e9-8284-bbe3ed30ba34.jpeg)

Adapting [Prettier](https://prettier.io/) would be a good soluti

[2019-03-07 12:19] sindresorhus commented on #144
Report it to GitHub. They are the ones setting the tab size to an unreadable width (8).

I don't see how this would help the readmes on mobile. We would still use tab indentation.

[2019-03-07 12:28] thebuilder commented on #144
Fair enough - you could set Prettier to format only the `.md` files with space indentation, and keep tabs in source files.

[2019-03-07 15:03] jedahan commented on #138
what im doing currently as an example:

[code]

from https://github.com/jedahan/creature/blob/ink/src/App.jsx

[2019-03-07 15:05] jedahan commented on #138
The suggestion to just expose the handler seems nicer for those coming from nodeland - but i wonder if you have different keys in different contexts if the reactish way helps with multi-screen apps...

[2019-03-07 15:06] jedahan commented on #137
[code]

[2019-03-07 16:02] vadimdemedes commented on #143
@SimenB I'm actually planning to deprecate it in favor of having `create-ink-app`! Was meant to create an issue about it, but @gc beat me to it!

[2019-03-07 17:17] sindresorhus commented on #137
@jedahan I think you meant to comment on #138.

[2019-03-07 17:37] jedahan commented on #137
What would useStdin expose ideally, beyond something like `const { stdin, setRawMode } = useContext(StdinContext)` ?

[2019-03-07 18:59] #144 closed

[2019-03-07 20:18] SimenB commented on #138
Not sure if needed, but I have a use case for this. I've been looking at rewriting https://github.com/jest-community/jest-watch-typeahead to use `ink`.

The thing I want to achieve is this:
![demo](https://user-images.githubusercontent.com/1404810/53986008-56585f80-411d-11e9-89bc-1fc9d15be2f5.gif)

So an text input, and below it a list over hits. _If_ the user hits the down arrow, then I want to s

[2019-03-07 20:38] SimenB opened #145 "Unmounting `ink-select-input` exits the process"
[code]

Enter a letter, then hit backspace. The process exits. Removing `SelectInput` from the component stops this behavior

[code]

[2019-03-08 04:30] vadimdemedes commented on #145
I think I know what it is, working on a fix!

[2019-03-08 05:26] vadimdemedes commented on #145
Cause of this bug is Ink doesn't keep count how many components requested raw mode, so when first component calls `setRawMode(false)`, Ink disables raw mode, which makes the process naturally exit. Fixed via https://github.com/vadimdemedes/ink/commit/321aa1eac51a76eec40efcff1286f71d08cc5019, going to keep the issue open until new release is out. Thanks for reporting, @SimenB!

[2019-03-08 05:31] vadimdemedes commented on #135
Thanks @LitoMore!

[2019-03-08 05:31] #135 closed

[2019-03-08 05:50] vadimdemedes commented on #145
Released `2.0.4` with a fix.

[2019-03-08 05:50] #145 closed

[2019-03-08 05:53] vadimdemedes commented on #138
Ink 2.0.4 now enables `keypress` events by default now, when raw mode is turned on.

As for React hook for keypress events, I like @jedahan's solution (only with `keypress` events, not `data`), simple and clean.

[2019-03-08 05:55] vadimdemedes commented on #138
@SimenB I think the `focus` solution is better. If `<SelectInput>` doesn't show an arrow by default, it will not be obvious that this is a selectable list, it will look like multiple labels on each line :)

[2019-03-08 06:12] sindresorhus commented on #138
I agree. @jedahan Would you be interested in doing a PR?

[2019-03-08 15:33] SimenB commented on #138
I didn't mean for it to be the default behavior, just a prop 🙂

However, setting `focus={false}` doesn't seem to change anything visually - it just means it doesn't respond to keyevents, it still highlights the first choice. However, I can open up an issue in that repo - this is not the place for it

---

Back to keypresses - I tried this code in 2.0.4:

[code]

It seems to completely mess up `Sel

[2019-03-08 15:48] vadimdemedes commented on #138
Interesting, unused `useKeyHandler` affects `<SelectInput>`. I will look into it after work today.

[2019-03-09 05:11] vadimdemedes commented on #138
Ok, it's the `limit` that's screwing things up, not the keypress hook. `<SelectInput>` doesn't properly handle cases when there are less items than `limit`. Fix coming up!

[2019-03-09 06:34] vadimdemedes commented on #138
While fixing this, discovered another interesting issue with reordering children with `key`s inside a container. Pushed a fix here with a detailed description inside  commit: https://github.com/vadimdemedes/ink/commit/a022a38096ee7daa86aeef4c20cb76857ba38e77.

[2019-03-09 07:24] vadimdemedes commented on #138
@SimenB `<SelectInput>` issue with output is fixed in `3.0.2` and I would also recommend to update Ink to `2.0.5`, it contains an important reconciler fix.

[2019-03-09 08:07] SimenB commented on #138
Nice, thanks @vadimdemedes! Works great now 🙂

[2019-03-09 22:56] alcuadrado opened #150 "Use WebAssembly build of Yoga"
Hi @vadimdemedes! Congrats on shipping v2, it's an amazing project! Thanks for creating it :)

One thing I noticed is that it's startup time takes quite a bit. It takes 150-190ms to run a `require("ink")` in my 2017 MBP.

Using [`time-require`](https://www.npmjs.com/package/time-require) I found that 70% of that time is spent in `node_modules/yoga-layout-prebuilt/yoga-layout/dist/entry-browser.js`

[2019-03-10 18:03] yestoall commented on #143
i need that to make babel work in cli

any working environment sample test?

[2019-03-10 20:39] zimme commented on #143
Name suggestion here, `create-react-cli`, it would compliment `create-react-app` quite well i think.

[2019-03-11 23:33] duncanbeevers opened #151 "React devtools"
Is there a way to point the standalone React devtools at an ink app?

I tried pulling in the standalone tools to connect to the devtools server running at 8097, but the standalone launcher still appears married to the browser.

[code]

[code]

[2019-03-12 03:10] duncanbeevers opened #152 "Default margins"
Margins seem to be behaving inconsistently.

Let me know if I'm misunderstanding something here, but it seems like the behavior of these two examples should be equivalent.

### Example 1 – Correct margins
[code]
![2019-03-11 at 8 08 PM](https://user-images.githubusercontent.com/7367/54171959-7ba8de80-4439-11e9-9df6-5fb8190c444c.gif)

### Example 2 – Incorrect margins
[code]

![2019-03-11 at 8 06 P

[2019-03-12 04:49] duncanbeevers opened #153 "Respond and reflow with terminal resize events"
Listening to `stdout.on('resize')` is pretty straight-forward, but it looks like the ink renderer is instantiated at a [fixed terminalWidth](https://github.com/vadimdemedes/ink/blob/1aaabc62c819d7f06f1dc12573f008adcd43f92f/src/renderer.js#L25).

Is it feasible to reconfigure the renderer or to create a new renderer in response to terminal size changes?

[2019-03-12 05:47] duncanbeevers opened #154 "Shifting flex edges"
In this simple application I create a flex layout with two columns, both set to `flexGrow={1}`.

Despite there being ample room for all content within both containers, the column edge shifts.

![2019-03-11 at 10 39 PM](https://user-images.githubusercontent.com/7367/54177274-e31d5900-444e-11e9-96b5-8986d595bed0.gif)

[code]

[2019-03-13 01:39] duncanbeevers opened #155 "Top and bottom padding are stacked"
### Bare text – works as expected
[code]

[code]

### Text node with margins – works as expected
[code]

[code]

### Text node case – padding is stacked
[code]

[code]

[2019-03-13 03:38] vadimdemedes commented on #151
I haven't looked into it, but I'm pretty sure it would be a challenging task to integrate Ink with devtools. I don't think I have enough time to work on something that big right now. Feel free to experiment with it and let me know how it goes!

[2019-03-13 03:39] vadimdemedes commented on #152
Yep, output in your demos is correct. Keep in mind that Ink operates in the terminal, where there are no pixels. Vertical and horizontal margins will never look the same, because Ink uses a space for horizontal margins and an empty line for vertical margins.

[2019-03-13 03:40] vadimdemedes commented on #152
You can reproduce the same output via `console.log('\n ON')`.

[2019-03-13 03:45] vadimdemedes commented on #153
Yep, it's possible and Ink had it in pre-release versions, but I reverted it because of bugs. Will try it out again.

[2019-03-13 04:12] sindresorhus commented on #152
@vadimdemedes We should at least document that. I think horizontal margin needs to be 3 times vertical margin to look even.

[2019-03-13 04:18] vadimdemedes commented on #152
Agree.

Hm, how would you have 1 space margin in that case? E.g.

[code]

=> `X Y`

[2019-03-13 04:27] vadimdemedes commented on #154
Thanks for a detailed issue! I found the root cause of it - terminal width. This bug occurs only on odd terminal width, like 79 columns for example. If you resize the terminal to an even width like 80 columns, you should no longer see that issue.

Simple fix would be to ensure layout width in Ink is always an even number. However, I'm afraid people will get confused why Ink's output doesn't stretc

[2019-03-13 04:32] vadimdemedes commented on #155
Reproduced, investigating.

[2019-03-13 04:43] sindresorhus commented on #152
You wouldn't. One vertical space is the same as three horizontal spaces.

[2019-03-13 05:37] vadimdemedes commented on #152
But if there was no ability to create 1 or 2 space horizontal margins, you wouldn't be able to create a layout like https://twitter.com/vadimdemedes/status/1103345757434736641 without using `{' '}`, which is kind of the whole point of having margins in Ink.

[2019-03-13 06:06] sindresorhus commented on #152
I'm not saying that Ink should handle this. Just sharing my experience from creating `boxen`.

[2019-03-13 06:22] duncanbeevers commented on #152
My concern here isn't about the specific size. Rather, when an explicit `0` margin is specified output is rendered flush with the terminal edge. When no margin is specified, the output is first rendered flush with the terminal edge, then when bumped away from the edge with `1` margin, and then remains fixed at the `1` margin position when rendering switches back to the unspecified margin mode.

[2019-03-13 12:26] umidbekkarimov opened #156 "Display only last frame when running on CI"
Just migrated my cli app from `ora`+`prompts` to `ink` and found a problem in Travis CI logs: https://travis-ci.com/dcodeteam/stylotron/jobs/184495917

This component https://github.com/dcodeteam/stylotron/blob/master/src/lint/FileLintStatus.tsx renders file details line.

Expected output in non tty environment looks like this:
<img width="412" alt="Screen Shot 2019-03-13 at 17 24 38" src="https:/

[2019-03-13 12:38] umidbekkarimov commented on #156
Works as expected in Gitlab CI.

<img width="381" alt="Screen Shot 2019-03-13 at 17 37 56" src="https://user-images.githubusercontent.com/4734297/54279365-c439d680-45b6-11e9-8765-6019290edc9e.png">

[2019-03-13 15:24] vadimdemedes commented on #152
Oooh I didn't get that. Will look into it, @duncanbeevers!

[2019-03-13 15:28] vadimdemedes commented on #156
I'm afraid that's the issue on Travis CI's side, apparently it doesn't handle erasing lines correctly. I remember in https://github.com/avajs/ava we had to write output using regular `process.stdout.write('something')` without `log-update`. One fix for this comes to my mind is to detect CI environment and render only last frame, before CLI exits. @umidbekkarimov @sindresorhus what do you think?

[2019-03-13 16:02] umidbekkarimov commented on #156
@vadimdemedes I like this idea. Most of the times we need final output in CIs, not the progress. If this fix will provide consistent output between environments - then I'm all for it.

Also it can make easier to build dynamic components (e.g. progress bars, spinners).

[2019-03-13 16:18] SimenB commented on #156
Maybe dump all in `Static`, and last frame only if no static component in the tree? Something like that would be required for Jest (so we can render test results as the suites complete)

[2019-03-13 16:36] vadimdemedes commented on #156
@SimenB Yep for sure, `<Static>` isn't affected by this issue, since it just writes directly to stdout, without erasing any lines.

[2019-03-13 16:38] SimenB commented on #156
Perfect!

[2019-03-13 16:44] duncanbeevers opened #157 "Support for Box `flexBasis` or `minWidth`"
In order to create consistent displays of side-by-side information, it may be useful to have boxes that shrink no smaller than some fixed size.

Without support for overflow behavior like clipping, `width` or `maxWidth` props seem a bit further out-of-reach.

Using a `flexBasis` prop provides similar functionality to a `minWidth` / `minHeight`, and feels less out-of-place than an orphaned `minWidt

[2019-03-13 16:47] joejag opened #158 "Clearing old renders fails when the render goes beyond the vertical space available"
Hi, thank you very much for creating this project, I love the concept.

I noticed a bug in my own program and noticed it's perhaps a problem with Ink itself. When the rendered view goes beyond the space available and the user scrolls back up to see the output, then older renders are still shown.

Here is an example using the Jest built-in example. I've tried this on Mac and Linux. The first run is

[2019-03-13 19:35] xrd commented on #138
Thanks for your suggestions @jedahan.

I'm taking your code and am having trouble with a simple example. Is this just a misunderstanding of hooks, or is there a bug in `useKeyHandler`?

When I run this code (using ink 2.0.5), I can never get it to go past index===1, and pressing the "k" key always sets is to -1.

[code]

[2019-03-13 19:47] konsumer opened #159 "HMR"
I am interested in HMR (hot module reloading) for ink, so it can keep state and reload components on file-change. I'm not sure where to start. It seems like [react-hot-loader](https://github.com/gaearon/react-hot-loader) is pretty focused on webpack & web-oriented workflows. Any suggestions would be welcomed.

Might be sort of related to #15

[2019-03-13 20:07] chrisdrackett opened #160 "Light text color issue"
I have the following code on a project:

[code]

For some reason the text `I'm light gray` is not the correct color, its lighter (as is anything below including the `✨  Done in Xs.` line).

I'm able to fix this by wrapping the second box in the column in a `<Color reset>` but I'm not sure if this should be required. It seems if I take out the emoji, `bold` or some of the `<Box>` elements this is f

[2019-03-13 21:53] konsumer commented on #159
I started with a kind of naive approach, just to see if I could rerender on change.

I have an `App` that I want to fill the screen, and get re-rendered if a file changes (and eventually when terminal size changes.) I am using hooks and an HOC, because this illustrates how I will really use it.

Here is my `App`:

[code]

And here is my `watcher.js`:
[code]

It works fine to render `App`, but with

[2019-03-13 22:16] konsumer commented on #159
Here is same stuff in complete github project:
https://github.com/konsumer/ink-demo

[2019-03-13 22:47] konsumer commented on #15
Another approach would be to name an npm package `create-ink`, so `npm init ink` will call `npx create-ink` for 0-install initial demo project. You can read more about it [here](https://docs.npmjs.com/cli/init). If you make a `bin` named `create-ink` in that project, that does the actual install, you should be all set.

[2019-03-14 04:49] vadimdemedes commented on #138
@xrd The issue here is how JavaScript works :) `index` will always reference initial value, which is zero:

[code]

Try passing a function to `setIndex` instead, which will receive previous state as an argument:

[code]

[2019-03-14 04:50] vadimdemedes commented on #160
Interesting, could you paste a screenshot how it looks? Which terminal do you use and which version?

[2019-03-14 04:52] vadimdemedes commented on #159
Good idea! I'm currently focusing on resolving layout issues, but would certainly love to look into it later. Keep us posted with your progress!

[2019-03-14 04:53] xrd commented on #138
@vadimdemedes Thank you!

[2019-03-15 01:08] chrisdrackett commented on #160
Here is what I'm seeing:

![bug](https://cl.ly/6ab580d9612a/Screen%20Shot%202019-03-14%20at%205.59.58%20PM.png)

but if I remove, say the emoji:

![no emoji](https://cl.ly/2f8038ac8125/Screen%20Shot%202019-03-14%20at%206.01.52%20PM.png)

or the bold:

![no bold](https://cl.ly/f050a4bc9f4c/Screen%20Shot%202019-03-14%20at%206.02.39%20PM.png)

so strange!

I see this both in hyper and terminal.app on

[2019-03-16 00:41] vadimdemedes commented on #160
Thanks for details! I have a feeling it's related to `slice-ansi` module, will investigate more and get back to you.

[2019-03-17 16:44] SimenB opened #162 "Intercept calls to `stream.write`"
Since `Ink` rerenders the whole screen, message printed using `process.stdout.write` will be gone. E.g. the message from node core when you attach more than 10 listeners to a single event.

It would be great if Ink could somehow intercept all calls to `stream.write` except for its own and somehow store them.

Spitballing here, but maybe add it to `StdoutContext` as an array or something? That way

[2019-03-17 22:39] mAAdhaTTah commented on #156
If you decide to go this route, `is-ci` should be a configurable option so you don't have to support every use case.

[2019-03-17 22:48] mAAdhaTTah opened #163 "Use exit to pass exit code"
Would it be possible to pass an exit code to the call to `AppContext`'s `exit` function? Then you'd get the value with `const code = await app.waitUntilExit()` and verify it's correct during testing.

I'd be willing to PR this.

[2019-03-18 02:28] vadimdemedes commented on #163
I'm not sure it makes sense to pass exit code, since Ink doesn't actually exit the process via `process.exit(code)`. I think a better version of this would be to reject a promise returned by `waitUntilExit()` if error is passed, for example:

[code]

What do you think?

[2019-03-18 02:34] vadimdemedes commented on #162
I think instead of storing out-of-Ink writes to `process.stdout`, Ink should handle that case instead and ensure those messages are written correctly to stdout. I was kind of hesitant to do it, because I had the same issue with Ink 1 and there's just no other way than to monkey-patch `process.stdout.write` 🤷‍♂️ Will fix it soon!

[2019-03-18 03:12] vadimdemedes commented on #158
Hi, thanks! :)

Unfortunately, this is expected behavior with terminals. Erasing lines doesn't work beyond what's visible in terminal's viewport. There's one workaround I know of - erasing all of terminal session, including previous output from all commands (all history). Jest is doing this, but I know they end up reducing frequency of renders because clearing all of history leads to flickering. I

[2019-03-18 03:14] vadimdemedes commented on #150
Thank you!

Nice suggestion, I'll see how it works and maybe will integrate it into https://github.com/vadimdemedes/yoga-layout-prebuilt, which Ink uses.

[2019-03-18 03:17] vadimdemedes commented on #47
Closing it, as it turned out to be really complex to move a native cursor to the correct position. Instead, it's much easier to fake the cursor like https://github.com/vadimdemedes/ink-text-input does it. Feel free to check out the source on how it's done. Basically it's storing fake cursor's position and highlighting the character on that position with `chalk.inverse()`.

[2019-03-18 03:17] #47 closed

[2019-03-18 03:20] #123 closed

[2019-03-18 03:35] mAAdhaTTah commented on #163
That would work. We could reject the promise with whatever is passed, if something is passed, and the calling code could call `process.exit(code)`.

[2019-03-18 03:42] vadimdemedes opened #164 "Show a warning when <div> or <span> are used directly"
They're reserved for internal use and shouldn't be used directly. Prefer `<Box>`, `<Text>` or `<Color>` instead.

[2019-03-18 04:10] vadimdemedes commented on #163
Unfortunately Ink can't be responsible for calling `process.exit()` as it would interrupt other logic that may be running outside of Ink app. Ink did it before and npm had a problem with it, because they take care of process exiting with their own logic.

If you want to exit with a certain exit code on failure, that'd be fairly easy:

[code]

[2019-03-18 05:07] vadimdemedes commented on #157
Pushed support for `min-width`, `min-height` and `flex-basis` to `master` branch. Will add `max-width` and `max-height` once Ink implements overflow handling (wrapping) of individual nodes. Also discovered a potential Yoga issue along the way - https://github.com/facebook/yoga/issues/872.

[2019-03-18 06:41] sindresorhus commented on #163
Ink users can set [`process.exitCode`](https://nodejs.org/api/process.html#process_process_exitcode) themselves. We could document this as it's not well-known.

[2019-03-18 11:31] mAAdhaTTah commented on #163
Yeah, to make it clear, I _don't_ want Ink to call process.exit itself. I _do_ want to provide a way to signal the results of the CLI run, specifically in unit tests, that would allow me to bootstrap & run the app and assert against the results. The error-passing mechanism seems good and I can take a crack at that.

[2019-03-19 18:35] eweilow opened #166 "setRawMode fails when running with non-TTY stdin"
Before the rest of the issue, I must say that Ink is amazing 👍

An issue I've encounted is that when Ink is running in a process where `process.stdin.setRawMode` is undefined (for instance in some CI environments), these lines will throw:
https://github.com/vadimdemedes/ink/blob/master/src/components/App.js#L73
https://github.com/vadimdemedes/ink/blob/master/src/components/App.js#L83

This behavio

[2019-03-20 05:45] vadimdemedes commented on #166
Not sure there's other solution, since it's impossible to listen for user input in non-tty env, isn't it? I think Ink should probably do nothing when `setRawMode` is called in a non-tty env. What do you think?

Thank you!

[2019-03-20 07:14] mamachanko opened #167 "How was media/demo.svg created?"
Hi, thanks for Ink! How was [`media/demo.svg`](https://github.com/vadimdemedes/ink/blob/master/media/demo.svg) created? It doesn't look like your off-the-shelf [asciicinema](https://asciinema.org/) recording.

[2019-03-20 07:46] maticzav opened #168 "Get width of <Box>"
Is it possible to obtain the width of the `Box` element in Ink 2.0?

[2019-03-20 11:23] joejag commented on #158
Aha, yes, it seems this is a constraint with terminals.

Given the use case of my application, obliterating everything might be an option. Is there some code in Ink that I can use to achieve this?

Thanks.
Joe.

[2019-03-20 11:25] eweilow commented on #166
What might be good, since it's always nice to have a proper fallback, is to have some way for the app rendered by Ink to determine if `setRawMode` is available! I believe this might be useful for features like https://github.com/vadimdemedes/ink/pull/147

In most cases, Ink would just ignore that it can't enable raw mode, but for some cases an app might want to entirely disable an input component.

[2019-03-20 16:01] mAAdhaTTah commented on #139
Has there been any outreach to the React team for insight?

[2019-03-20 19:40] mAAdhaTTah commented on #166
Yeah, I actually ran into this. I am trying to migrate some tests, where I would `cp.spawn` the cli and use the exposed stdin to write to the process and confirm the stdout matches my expectations as well as confirm the files written to the fs matched. The cli would error on the call to `setRawMode` and fail the tests.

I had originally attempted to use [pty.js](https://github.com/chjj/pty.js/), b

[2019-03-21 03:42] vadimdemedes commented on #167
You're welcome :) I used https://yarnpkg.com/en/package/svg-term-cli.

[2019-03-21 03:42] #167 closed

[2019-03-21 03:50] vadimdemedes commented on #168
There's a way, but I'm still thinking how to properly expose it in a way that can live on long term. Hopefully I'm going to finish it soon and get back to you in this thread.

[2019-03-21 03:52] vadimdemedes commented on #158
Not yet, but I'm considering including it perhaps as an opt-in behavior. I will keep you posted on this issue.

[2019-03-21 03:53] vadimdemedes commented on #139
There are issues already opened (and fixed) in React's repo: https://github.com/facebook/react/issues/13150 and https://github.com/facebook/react/issues/13177. Just need to figure out how to bring the fix to Ink. If you would be willing to work on that, any help is appreciated!

[2019-03-21 03:56] vadimdemedes commented on #166
@eweilow You don't need Ink for that, see how to check for a tty env: https://stackoverflow.com/questions/20585729/how-to-detect-if-nodes-process-stdout-is-being-piped.

[2019-03-21 05:06] vadimdemedes commented on #139
I digged into React's source code and found that React only checks for multiple renderers in development mode, so executing Ink app with `NODE_ENV=production` removes that warning. That's just a workaround though, not a solution. I'm yet to figure out what it is.

[2019-03-21 05:22] vadimdemedes commented on #139
I think I found a React bug 😮React tracks if the same context is rendered more than once by assigning `_currentRenderer = {}` to it. Problem is, it doesn't clear that property when context is no longer used (on unmount, for example). So when you `render()` again and use the same context, even with a fresh reconciler, containers, etc, it still thinks that context is being used. For example (pseudo-

[2019-03-21 05:33] vadimdemedes commented on #139
Interestingly, it doesn't seem to affect any of React's behavior, this check only exists to output that `Detected multiple renderers concurrently rendering the same context provider` warning.

[2019-03-21 06:08] vadimdemedes commented on #139
Update: tried reproducing it with react-dom and I couldn't get the same warning message, however I did confirm that React isn't clearing `_currentRenderer` of the context. This led to another interesting discovery - react-dom doesn't create a new reconciler instance for each container node (separate app), like Ink does. Instead, react-dom implements `getRootHostContext` reconciler method, which al

[2019-03-21 07:54] eweilow commented on #166
@vadimdemedes What if `<StdinContext>` exposed an additional `isRawModeSupported` bool?
It might lead to more 3rd party components adopting a nicer fallback if it was clear in the docs, even if it is currently as simple as checking if `stdin.isTTY` is true or not. Another other option would be to simply add how to check for that in the docs of StdinContext 👍

[2019-03-21 12:00] mamachanko commented on #167
thanks @vadimdemedes

[2019-03-21 12:03] mamachanko commented on #167
btw @vadimdemedes is there a `[Slack channel | Spectrum | Gitter | mailing list | .* ]` for the community or to get in touch with you other than GitHub Issues?

[2019-03-21 12:20] mAAdhaTTah commented on #162
FWIW, `console.log` in Node uses [`stdout.write`](https://github.com/nodejs/node/blob/master/lib/internal/console/constructor.js#L239), so you might not need special handling for that.

[2019-03-21 12:58] mAAdhaTTah commented on #166
I was able to solve my problem with node-pty, so I no longer need this. I will just note that components like `ink-text-input` might also need to add some handling for this if we don't solve it in Ink proper. My initial thought was to wrap `setRawMode` such that if it doesn't we just don't call it, which would keep downstream components from needing to add extra internal logic to check.

[2019-03-21 14:55] vadimdemedes commented on #158
I'm going to keep it open for visibility, since other people may run into the same thing ;) Also, for myself to remember to implement that erase-all solution.

[2019-03-21 14:57] vadimdemedes commented on #162
So is Ink :) It also uses `stdout.write` via `log-update`, so we'll need some sort of way to figure out whether input is coming from Ink or not. I've started work on this using slightly modified https://yarnpkg.com/en/package/hook-std, will keep you posted. Feel free to also try it out yourself, if you want to ;)

[2019-03-22 05:05] vadimdemedes commented on #139
Submitted https://github.com/vadimdemedes/ink/pull/170 to fix this. I would appreciate if anyone tried it out with their Ink apps to see if there are any regressions, thanks!

[2019-03-22 09:13] eweilow commented on #166
I've started a PR (https://github.com/vadimdemedes/ink/pull/172), but realized that it might be useful to throw a nice error by default rather than just ignoring that setRawMode cannot be called.

Otherwise this situation would end up with being able to not input anything (which would be confusing!) https://github.com/vadimdemedes/ink-text-input/issues/25

[2019-03-23 03:42] vadimdemedes commented on #166
Nice, thanks @eweilow! Let's continue discussion there.

[2019-03-23 04:08] #139 closed

[2019-03-23 04:33] vadimdemedes commented on #168
I forgot to ask, what's the use case for this? When would you need to know a specific width of `<Box>`?

[2019-03-23 05:26] icopp opened #173 "Long strings wrap outside of parent component"
A simple example:

[code]

...where `ipsum` is a text string with several paragraphs worth of text.

The result has  each of the paragraphs from `ipsum` rendered as starting on the same column, but wrapping at the end of the terminal to the start of the next line, where they should be getting hard-wrapped instead to fit the `Box`'s layout.

[2019-03-23 05:28] vadimdemedes commented on #173
Could you paste `ipsum` value too?

[2019-03-23 05:31] icopp commented on #173
In this case it's just straight from a lorem ipsum generator: `"Elit consequat exercitation est Lorem dolor sunt labore. Esse id aliqua velit elit duis commodo veniam quis dolore commodo dolore reprehenderit. Lorem aliquip aliquip velit non pariatur commodo voluptate adipisicing esse. Aliquip ipsum fugiat commodo laborum dolor culpa Lorem consequat quis. Tempor eu occaecat veniam reprehenderit. In

[2019-03-23 05:39] vadimdemedes commented on #173
Yep, I should've opened an issue for that. Ink needs to have wrapping inside individual nodes. Will reply back when I have some progress on that.

[2019-03-23 06:20] icopp opened #175 "Margin or padding inside Color doesn't use background color"
A simple example:

[code]

Expected result: `Text here` at the center of a cyan box with 1 padding all around

Actual result: `Text here` with cyan background, but at the center of a 1 padding black box

[2019-03-23 19:06] maticzav commented on #168
I want to create a general table component with `<tr>` and `<td>` - similar to how tables work in plain HTML where everything is aligned by default.

[2019-03-24 23:54] nikersify commented on #132
I'm having the same problem, here's a minimal reproduction:
[code]

Output:
[code]

The output should obviously be way longer, looks like if one "static line" is the same as the one above it, it doesn't get rendered - even when it has a correct `key`.

[2019-03-25 07:39] danikaze opened #176 "Box is not accepting percentages as sizes"
In the examples/API is written:
[code]
but when trying it, I get this error:
[code]

Is it not supported anymore?

[2019-03-26 05:27] vadimdemedes commented on #176
It is supported, I just didn't publish a new release. I'm planning to publish one tomorrow.

[2019-03-26 05:28] vadimdemedes commented on #132
Will take a look, thanks!

[2019-03-26 05:28] vadimdemedes commented on #168
Hm, would you be able to use flexbox properties like `flexGrow` to achieve the same layout?

[2019-03-26 10:33] danikaze commented on #176
I see, just saw it in the API docs and wasn't working...
But if you release that would be great!
I'll test it promptly! ^^

[2019-03-27 04:52] #163 closed

[2019-03-27 04:56] vadimdemedes commented on #175
I would recommend using `<Color>` with text children only, not with nested `<Box>`es. Think of `<Color>` and `<Text>` like `<span>` in the browser, it's uncommon to see nested `<div>`s in a `<span>`.

[2019-03-27 04:57] vadimdemedes commented on #173
Implemented `<Box textWrap="wrap">` in master branch here - https://github.com/vadimdemedes/ink/commit/e8e6811935271c83f5fedc412e627ca2fca16248. Will close this issue once it's released ;)

[2019-03-27 05:24] vadimdemedes commented on #132
Fix (https://github.com/vadimdemedes/ink/commit/98b3c3e9c59b1759c784761835631866fbf36911) is in master, will close this issue once new release is out.

[2019-03-27 06:01] vadimdemedes commented on #156
Fixed in master via https://github.com/vadimdemedes/ink/commit/92f43933f04f1d40175195a931fe5588885f7c1d, will close this issue when new release is out.

[2019-03-27 06:01] vadimdemedes commented on #156
@umidbekkarimov would you be able to test latest Ink via `npm install vadimdemedes/ink` and see if it solves your problem?

[2019-03-27 06:03] vadimdemedes commented on #176
You can use latest Ink via `npm install vadimdemedes/ink` btw! Just don't forget to move back to regular installation when you're done testing ;)

[2019-03-27 06:03] vadimdemedes commented on #176
I'm going to postpone release until tomorrow, because I've pushed a few big changes and it's late now.

[2019-03-27 07:16] umidbekkarimov commented on #156
@vadimdemedes I tried to install `@vadimdemedes/ink` but it's not there https://www.npmjs.com/search?q=vadimdemedes%2Fink

[2019-03-27 07:30] SimenB commented on #156
@umidbekkarimov not the `@`, he wanted you to install from github

[2019-03-27 08:56] brucou opened #177 "Ink v2.0 Changelog"
Hi,

I am writing an article on ink, and I was wondering what was the changes (features) brought about by the version 2.0?

[2019-03-27 09:10] LitoMore commented on #177
I guess you mean a migration documentation for migrate to Ink 2.

We could add a migration guide for Ink 2 to the readme.

[2019-03-27 09:13] nikersify commented on #132
Thanks for the quick fix @vadimdemedes!

[2019-03-27 09:13] brucou commented on #177
No I am really thinking of the additional features you added to the 2.0 vs. the previous release which I saw was the 0.5

[2019-03-27 09:27] LitoMore commented on #143
We need a **new CLI library** or a **sub-command** for create an ink component.

For the ink component, we don't need add `ink` and `react` to the `dependencies`, put them to the `devDependencies` just be OK.

Like this: https://github.com/LitoMore/ink-color-pipe/blob/master/package.json

[2019-03-27 17:24] icopp commented on #175
That makes sense, but also makes me think that there's missing functionality there on `Box`. Of course, that's probably more suited to wait until after borders go on so any color stuff can take advantage of the same boundary handling.

[2019-03-28 02:14] vadimdemedes commented on #175
Yeah, there was support for coloring boxes initially, but there were some edge cases which made me revert this functionality. I should've documented those or noted somewhere, but I didn't. I will try to add support again and see how it goes.

[2019-03-28 02:14] vadimdemedes commented on #177
I still have it in my todo, will write it up soon.

[2019-03-28 03:33] LitoMore commented on #177
@vadimdemedes I think we also need a `How to create an Ink component` guide for Ink 2.

For the Ink component, there are some different with the Ink app (please correct me if I am wrong):

- We should put `ink` and `react` to the `devDependencies`
- We should add `ink` and `react` to the `peerDependencies`

[2019-03-28 04:35] vadimdemedes commented on #177
@LitoMore  Agree, that's planned as well.

[2019-03-28 04:44] vadimdemedes commented on #173
Rewrote text wrapping to accommodate more use cases and pushed to master. Here's the docs for a new `textWrap` property - https://github.com/vadimdemedes/ink#wrapping. Note that it's disabled by default, so theoretically it shouldn't impact any of existing Ink apps.

@zkat @SimenB @maticzav @icopp I would really appreciate it if you could quickly try master branch (`npm install vadimdemedes/ink`)

[2019-03-28 07:24] umidbekkarimov commented on #156
@vadimdemedes here logs with latest ink https://travis-ci.com/dcodeteam/stylotron/jobs/188297737, works great!

[2019-03-28 09:05] SimenB commented on #173
Still works beautifully 👌

[2019-03-28 23:41] maticzav commented on #173
Same here 🎉

[2019-03-31 04:48] vadimdemedes commented on #176
New release is out - https://github.com/vadimdemedes/ink/releases/tag/v2.1.0 🎆

[2019-03-31 04:48] #176 closed

[2019-03-31 04:48] vadimdemedes commented on #173
New release is out, which adds `textWrap` prop - https://github.com/vadimdemedes/ink/releases/tag/v2.1.0 🎆

[2019-03-31 04:48] #173 closed

[2019-03-31 04:49] vadimdemedes commented on #157
New release is out, which adds support for `flexBasis`, `minWidth` and `minHeight` props - https://github.com/vadimdemedes/ink/releases/tag/v2.1.0 🎆

[2019-03-31 04:50] vadimdemedes commented on #156
New release is out - https://github.com/vadimdemedes/ink/releases/tag/v2.1.0 🎆

[2019-03-31 04:50] #156 closed

[2019-03-31 04:50] vadimdemedes commented on #132
New release is out - https://github.com/vadimdemedes/ink/releases/tag/v2.1.0 🎆

[2019-03-31 04:50] #132 closed

[2019-03-31 12:54] jdeniau commented on #168
A possible use case is to "hack" something to have border as if I'm right, there is no way to have a bordered box for now.

[2019-04-01 04:30] danikaze commented on #175
I was trying to use this exactly, and this is how I solved it...
[code]

[2019-04-01 04:57] danikaze commented on #5
I tried to implement something similar.
Just a simple `<AppTitle>` component, which renders a colored bar with the centered title.
The problem is that `Box` doesn't render bgColor so I need to do something like this:

[code]

Works like a charm. `width` is passed as a prop (which I think I could automatically read from `stdout` via `process` or `<StdoutContext>`, but I'm getting it from redux stat

[2019-04-01 05:32] danikaze commented on #168
Anyways, if anyone is creating layouts inside `Box` with fancy component that depends on the parent's dimensions, I guess both `width` and `height` should be exposed...
i.e.
[code]

[2019-04-01 06:10] jdeniau commented on #168
I think the flexbox comportement of Box should work in that case

Le lun. 1 avr. 2019 à 07:32, danikaze <notifications@github.com> a écrit :

[2019-04-01 06:44] danikaze commented on #168
@jdeniau  I'm sorry I'm a bit new with this library but... how would it be done if the `<FancyComponent>` actually wants to render like a `<Card>`? Like, in this case, 100% = 20x10 _tiles_ with background color?
How card knows it's actual available size?
Using other `<Box>` components inside so they rely on the outter one? but again, if only `Box` doesn't support what you want to do (in this case,

[2019-04-01 07:09] maticzav commented on #168
I don't think `flexGrow` is an option. I haven't experimented with flex-box limits, however, to my understanding that wouldn't solve the problem because `flexGrow` is only row-agnostic which leads to well-sized rows, stretched to fill the horizontal space, but doesn't account for the size of other cells in the column.

[2019-04-01 07:22] danikaze commented on #168
exactly my point

[2019-04-01 07:58] jdeniau opened #179 "Cannot read property 'normalize' of undefined"
Apparently there is a bug while using `height` and `textWrap`:

[code]

This error is found :
[code]

[2019-04-01 08:06] jdeniau commented on #168
@danikaze @maticzav If I understand, and test it right, there are some issues when using `height` on a `Box` or when not using `textWrap`

If you have this :

[code]
It renders:
[code]

Wich seems weird, but if you add a textWrap on `SomeText`, it work "as expected":
[code]

renders:

[code]

[2019-04-01 13:47] maticzav commented on #168
I think we are talking about two different things, though it is possible that I am missing something.

My primary intention with this issue was to see whether it is possible to construct HTML-like tables in Ink. What I mean with the table is not a bordered list but rather an aligned form where columns self align based on the width of the cells independent of the width of the container.

[2019-04-01 14:08] jdeniau commented on #168
OK, I was linking to ink-table, but you did that :rofl:

If ink is flex only, then you are right, it's hard to do table-like without having a parent context.

As a matter of fact, I needed that today too, and I "hacked" by computing length of all my children (only string, so easy to do) : https://github.com/jdeniau/changelog-view/blob/da3dc76/src/component/ChangelogViewResult.js#L37-L40

[2019-04-01 22:16] isaacs commented on #179
Another app that causes the same error, maybe a clue:

[code]

[code]

[2019-04-01 22:35] isaacs commented on #179
This is a very mysterious bug.  I could've sworn everything was working as recently as last night, but today, I'm getting this error all over the place.  I've tried rolling back the versions of Ink, of React, you name it, but I can't seem to track down what changed to make this stop working.

[2019-04-01 22:53] isaacs commented on #179
Here's the first bad commit:

[code]

[2019-04-02 00:14] vadimdemedes commented on #179
Looking into it!

[2019-04-02 00:26] vadimdemedes commented on #179
Fix turned out to be pretty simple - https://github.com/vadimdemedes/ink/commit/8f44d6ded167578df7b963d066171ebf208669b9. Could you test Ink's master branch in your apps before I create a new release?

[2019-04-02 00:44] isaacs commented on #179
That appears to fix the problem without affecting any of my snapshots, so
we're probably good! :)

On Mon, Apr 1, 2019 at 5:26 PM Vadim Demedes <notifications@github.com>
wrote:

[2019-04-02 00:47] vadimdemedes commented on #179
I thought I deleted my comment fast enough, haha, sorry.

So https://github.com/vadimdemedes/ink/commit/8f44d6ded167578df7b963d066171ebf208669b9 fixed your problem, @isaacs, which is different from what was reported originally by @jdeniau.

@jdeniau Reason you're encountering this issue, is that text is taller than 3 rows (`height={3}`). I think the correct solution here would be to cut off extra

[2019-04-02 00:55] isaacs commented on #179
This seems to fix the height issue?  Not sure what other side effects it might have.

[code]

[2019-04-02 00:59] vadimdemedes commented on #179
This fix is better than the one I was working on, thanks!

[2019-04-02 02:54] vadimdemedes commented on #179
Fix is out in https://github.com/vadimdemedes/ink/releases/tag/v2.1.1. Let me know if there are any issues and I'll reopen it ;)

[2019-04-02 02:54] #179 closed

[2019-04-03 04:17] vadimdemedes commented on #157
Want to keep this issue open until https://github.com/facebook/yoga/issues/872 is resolved and `maxWidth`/`maxHeight` are added too.

[2019-04-04 01:55] danikaze opened #182 "Add absolute positioning to elements"
So, the same as in HTML we have a layout and sometimes we want to display elements over it (i.e. alert or a popup, confirmation dialog, etc.), is it possible to render elements over an existing layout specifying a position of the screen? (i.e. dialog in the middle of the screen over everything else)

[2019-04-04 04:48] vadimdemedes commented on #182
There isn't such a feature yet, but I think it's possible with Yoga layout (could be wrong). Do you have specific examples for terminal apps that need this?

[2019-04-04 05:20] danikaze commented on #182
Specific example... basically what I said about popups and dialogs.
A fullscreen flex layout (think about a webpage), and sometimes a popup/dialog over it (i.e. yes/no confirmation dialog)
[code]

[2019-04-04 06:13] KyleAMathews commented on #182
Drag and drop interfaces perhaps?

[2019-04-04 06:47] danikaze commented on #182
Well, that would be possible if something allows to draw over anything at an specified position, but I'm not targeting that (yet xD)

[2019-04-05 09:51] danikaze commented on #182
So, taking a quick look to yoga, it has [absolute/relative layout](https://yogalayout.com/docs/absolute-relative-layout) but I'm not sure if it's implemented here.
Definitely possible. Going to take a look too.

[2019-04-09 23:42] vadimdemedes commented on #182
I meant specific examples in the terminal, not on the web.

[2019-04-10 02:37] danikaze commented on #182
Yes, I was referring to a terminal app :P
But I've nothing built yet (due to those limitations).
Would a mockup gif work?

[2019-04-15 03:28] vadimdemedes commented on #182
Hm I don't think Ink would be a good fit for that sort of UI. This looks like a better fit for https://github.com/yomguithereal/react-blessed, which uses ncurses under the hood and can easily handle this sort of thing. Ink is intended for simpler, nicer and non-fullscreen UIs (think npm, Jest, AVA, etc etc).

[2019-04-15 03:51] vadimdemedes commented on #168
I'm thinking about `measureElement` method that Ink could expose that would allow you to measure any element after component is mounted. For example:

[code]

What do you think?

[2019-04-15 08:01] jdeniau commented on #168
It does seems to work, but it seems to be not that used in the React ecosystem, isn't it ?

Moreover, it may be difficult to react to a size change (if you resize your terminal for example).

Another solution might to expose a `onDimensionChanged` callback on `Box`, that is called on first rendering and when the box dimension did change, but I'm not really happy with this either ^^

[2019-04-15 08:39] maticzav commented on #168
`measureElement` seems like a very nice approach. I don't think resize of the terminal should be a problem since you could just rerun the measurement on a `ref` once the event is triggered.

@vadimdemedes could you give an example of how ”list” operations could be handled this way? I am curious what would happen if we wanted to get sizes of multiple children using refs. Is that a typical pattern?

[2019-04-17 02:54] acrazing opened #183 "Avoid calling renderNodeToOutput for each call of Component.render."
I'm writing a terminal game(gomoku) with ink, and I find its performance is poor when I print a `15 * 15` board with `mobx`.

I use mobx to store the focused piece, and then, when any arrow input, all the pieces will rerender, but its output is not changed. But the program is paused, after inspect the cpu profile, I find ink will call `renderNodeToOutput` after any Component updated(call render fu

[2019-04-18 10:08] piranna opened #184 "react-native-ink?"
Does anyone knows of a `react-native-ink` to have React Native apps running in the terminal, similar to how [react-native-web](https://github.com/necolas/react-native-web) is build on top of React components? Or better than that, something like [react-native-dom](https://github.com/vincentriemer/react-native-dom), that have an architecture more alike to standard React Native core (using Yoga layou

[2019-04-18 10:23] piranna opened #185 "Use `ch` and `em` units"
In CSS `ch` and `em` units are more focused on the actual characters size, being `em` the equivalent width to a minuscule `m` char, and `ch` the advance of a character, both vertical or horizontal, that means in normal conditions `ch` is equal to one `em` in horizontal and two `em` in vertical. For a monospace font (like a terminal TTY), that means that both `ch` and `em` are equal. Taking in acco

[2019-04-18 10:23] piranna commented on #185
Also I did other improvements later, just only I didn't upload it yet. If interested, I can finish to clean them and upload them.

[2019-04-20 08:49] hedgerh opened #188 "v2 incompatible components?"
Hey hey, what's the scoop on the v2 incompatible components?  They all look like they'd be great to use.  May be worth rallying up some community effort to get them v2 ready if the original authors don't have the capacity.

[2019-04-20 09:35] sindresorhus commented on #188
Many of the components have open PRs to move to v2, for example, https://github.com/JureSotosek/ink-divider/pull/3 But if the author doesn't respond, there's not much we can do. If it's an important component, we can fork it and maintain it. Otherwise, we'll just remove it from the list if the original author never responds.

[2019-04-20 16:24] hedgerh commented on #188
Just opened a PR for `ink-table` v2 migration.  I miraculously got it to work a couple of weeks ago, but didn't understand the code well enough to know if I fixed it _correctly_. All of the string building is hard to parse. 😅

Wanted to drop a couple of other notes:
It'd be great if there were a lot of examples that covered enough use cases that people could just take one and tweak it how they wan

[2019-04-21 20:29] vadimdemedes commented on #188
Agree, which is why I'm building Pastel :) See https://twitter.com/vadimdemedes/status/1112507907642294272 for more info. Almost done with it, will release after Easter.

What would you need a wrapper for and why?

[2019-04-21 20:30] vadimdemedes commented on #185
I don't think I understand what it's for. In terminal there are no units, it's just lines and chars. Could you elaborate what this is solving and perhaps provide a few examples?

[2019-04-21 20:31] vadimdemedes commented on #184
I doubt such a thing exists. Also, because of the huge difference between terminal and web/mobile platforms, it doesn't sound likely to happen, in my opinion.

[2019-04-21 20:43] vadimdemedes commented on #183
There's definitely a room for progress in rendering / building layout performance. I can't promise any ETAs, but I'm planning to look into this more soon.

P.S. Nice app!

[2019-04-21 21:14] vadimdemedes commented on #168
@jdeniau Yeah, that would be a thing custom to Ink, since we have different limitations in the terminal environment.

@maticzav That's a good point, it seems this solution would only work for measuring single elements.  I'm also thinking whether providing a custom function for text truncating would eliminate the need for measuring elements. That function would receive available space and of course

[2019-04-22 01:41] acrazing commented on #183
Perhaps you could consider caching the render result of the component and not re-rendering it to stdout if the render function does not modify the result (I'm just guessing).

[2019-04-22 08:23] piranna commented on #185
Well, rows and columns are already a unit :-D

CSS already supports the [`grid` media type](https://www.w3.org/TR/mediaqueries-4/#descdef-media-grid), that's focused on grid-based output, like a terminal TTY. As shown in that link, it can be defined the width using [font-relative](https://www.w3.org/TR/css3-values/#relative-lengths) units, like `em`, `ex`, `ch` and `rem`. In a grid-based output th

[2019-04-22 08:26] piranna commented on #184
I started [ansi-widgets](https://github.com/piranna/ansi-widgets) just with this idea... unluckily I didn't have time to continue it :-( But maybe with `Ink` a faster approach based in something like `react-native-web` does could work :-)

[2019-04-24 22:46] boneskull opened #189 "Table example"
Hi,

I mentioned this on Twitter, but I'd really love to see an example of displaying tabular data with Ink.

I've figured out how to get tabular columns aligned using `flexBasis`/`minWidth`, but it's a hack--I have to find the max string length of all table headers and data in table cells (for each column), then share this number among each cell in the column & the associated header.

e.g. (pseud

[2019-04-24 23:50] vadimdemedes commented on #177
Will keep it open until I write that 2.0 changelog.

[2019-04-24 23:51] vadimdemedes commented on #184
Personally I'm not interested in making something like that, but feel free to experiment with it yourself and then ping us back on your progress.

[2019-04-24 23:51] #184 closed

[2019-04-25 00:05] vadimdemedes commented on #185
Main question I have about this is what is this solving? What is the problem you're trying to address?

I don't think it would be useful to have all the units that browsers support in Ink and somehow convert them to rows/columns. Ink doesn't attempt to replicate all of CSS and browser's layout engine. By offering Flexbox-like functionality via Yoga Layout, Ink tries to simplify doing common things

[2019-04-25 00:06] vadimdemedes commented on #183
This might be possible. Currently Ink doesn't render to output if last output remained unchanged, but it still rebuilds the layout though.

[2019-04-25 00:09] vadimdemedes commented on #189
Try `<Box flex={1} textWrap="wrap">Text</Box>` for each of your cells and see if that works.

[2019-04-25 06:09] LitoMore commented on #188
Yes, currently I'm working on some migration job for these incompatible components, but several of them were blocked by some issue.

For another hand, we need some standard for creating a Ink component, like this: https://github.com/vadimdemedes/ink/issues/177#issuecomment-477434052.

At last, I could help to review these present migration PRs.

[2019-04-25 06:32] piranna commented on #185
There are several use cases where a conversion from pixels to rows/columns can be useful, the most important one is about displaying images in the terminal, there are already several libs that do it but would make it easier to integrate them with Ink.

[2019-04-25 06:55] LitoMore commented on #164
We could point this out in readme also.

[2019-04-30 03:21] vadimdemedes commented on #185
Have you tried https://github.com/kevva/ink-image?

[2019-04-30 03:22] vadimdemedes commented on #188
Good idea, Ink v1 had Yeoman generators for that, but I decided to not use them for Ink v2. I'll create `create-ink-app` and `create-ink-component` instead, stay tuned!

[2019-04-30 03:30] hedgerh commented on #188
Pastel sounds awesome!  Was that in response to the routing part, though?  My thoughts on routing relate to control flow when you're running a CLI command that requires branching logic.

[code]

or:

[code]

I always seem to want to build these complex types of CLIs.   Maybe they're bad design, though, and a command based CLI pattern would be better.

I'm not sure if this would be useful or not, b

[2019-04-30 07:56] piranna commented on #185
No, I have been using `term-img` directly, but it's the same concept.

[2019-04-30 21:56] boneskull commented on #189
That doesn't seem to align any columns.

Here's the real code:

[code]

output:

![image](https://user-images.githubusercontent.com/924465/56995956-082d6e80-6b58-11e9-8ee1-dd4d01d67ff3.png)

[2019-05-05 07:48] SimenB commented on #189
One thing you could do is split up into columns manually, e.g. `left`, `middle`, `right` arrays, then render them into separate `<Box flexDirection="column">` and wrap that whole thing into a `<Box flexDirection="row">`

[code]

![image](https://user-images.githubusercontent.com/1404810/57190466-c36c5380-6f1a-11e9-9c6d-fd4256306460.png)

I don't know if that's something that should be encouraged,

[2019-05-05 14:15] JureSotosek commented on #188
[Ink-divider](https://github.com/JureSotosek/ink-divider) has been migrated to `Ink 2.0` 🎉

[2019-05-05 16:18] vadimdemedes commented on #188
Hm, doesn't sound like a good idea to me, since they're literally wrappers around `fs`, but in JSX. Why not use `fs` directly?

[2019-05-15 23:17] asadm opened #194 "Multiple ink apps"
Hi,

I am trying to run one ink app, wait until it exits and then start another ink app. This doesn't seem to work. Here is an example code:

[code]

App 1 renders fine but App 2 never renders and directly jumps to `finished` line.
Am I doing it wrong?
Thanks

[2019-05-17 12:34] treshugart opened #195 "Set `flexDirection="row"` on root node"
When you have JSX like:

[code]

The output is:

[code]

Similarly, even if you do:

[code]

The output is the same.

In https://reactjs.org/docs/jsx-in-depth.html, it states:

It would seem that Ink treats separate JSX children as new lines and in the context of the JSX reference above, this would be a bug?

Some more examples:

---

JSX:

[code]

Out:

[code]

---

JSX:

[code]

Out:

[code]

--

[2019-05-20 01:51] vadimdemedes commented on #194
I'll take a look and reply back here, thanks!

[2019-05-20 04:35] Jarred-Sumner commented on #194
I'm having a similar issue, except instead of skipping the 2nd render, it just hangs. It doesn't render the 2nd Ink app.

[code]

[code]

[2019-05-20 04:56] Jarred-Sumner commented on #194
I worked around it by forking the process :joy:
[code]

[2019-05-23 04:19] vadimdemedes commented on #195
Figured it out, so actually it's caused by the usage of a fragment as a container for these text nodes. If you use `<Box>`, you will get the expected output:

[code]

Output for the above is `onetwo`, same as for:

[code]

It's due to the fact that by default all containers in [Yoga](https://yogalayout.com/) have `flexDirection="column"` set, which is why two adjacent text nodes appeared on separa

[2019-05-23 04:31] vadimdemedes commented on #194
Thanks for a detailed bug report, guys! Issue should be fixed via https://github.com/vadimdemedes/ink/commit/6889f47e5c67210e780c357f0fbb51297a25f5e2.

@Jarred-Sumner @asadm would you be able to pull Ink's master (`npm install vadimdemedes/ink`) and verify that it solved your problem? I will do a new release afterwards.

[2019-05-23 04:33] vadimdemedes commented on #185
I'm not convinced by the idea yet, I'll leave the issue open if someone else has a different angle on this topic.

[2019-05-23 04:36] vadimdemedes commented on #175
`<ColorPipe>` is a 3rd-party component, it could implement coloring differently than Ink's built-in `<Color>`. I will check it out!

[2019-05-23 04:36] treshugart commented on #195
Thank you so much, @vadimdemedes! Definitely agree re breaking change. I did some digging and came to a similar, but more naive conclusion. I'll give `Box` a try and let you know if I encounter any issues.

[2019-05-28 04:36] LitoMore commented on #195
Thanks! This issue blocked me to refactor other components. Let me try with `<Box>`.

[2019-05-30 09:36] LitoMore commented on #189
We can use [ink-table](https://github.com/maticzav/ink-table) for render a table. I have already submitted the migration pull request (https://github.com/maticzav/ink-table/pull/31).

[2019-05-30 10:08] LitoMore commented on #175
@danikaze [ink-color-pipe](https://github.com/LitoMore/ink-color-pipe) was designed for users who want to do some mutation with their color schemes.

Like this tool:

<img width="50%" height="50%" src="https://raw.githubusercontent.com/LitoMore/twe/master/media/twe-colors.gif" alt="twe-colors" />

[2019-06-05 07:07] LitoMore commented on #189
[ink-table](https://github.com/maticzav/ink-table) 2.0 released.

[2019-06-13 17:57] boneskull commented on #189
Having learned a little bit about flexbox and CSS grid, it would seem to me that CSS grid would be a more appropriate abstraction for tables.  But this seems like it'd be a significant implementation.

[2019-06-13 21:33] SimenB commented on #189
CSS grid is probably way off: https://github.com/facebook/yoga/issues/867

[2019-06-18 09:09] KyleAMathews commented on #138
`useKeyHandler` worked perfect for my app — perhaps this could get published as a package? `ink-use-key-handler`?

[2019-06-18 15:52] sindresorhus commented on #138
I would like `useKeyHandler` to be built-in. It's a very common need.

[2019-06-20 21:17] vadimdemedes opened #203 "Add isUserInputSupported property to AppContext"
I imagine not everyone is familiar with what raw mode means and what implications are there when it's not supported. To reduce confusion for Ink users, I think we should rename it to `isUserInputSupported`, since that's what it's basically about.

Before:

[code]

After:

[code]

[2019-06-21 16:14] sindresorhus commented on #203
Raw mode is not just about user input: https://en.wikipedia.org/wiki/Terminal_mode

You would have to rename `setRawMode` to `setUserInput` or something too then, which would be weird.

[2019-06-25 08:07] isaacs opened #205 "Poor performance when printing a lot of lines to a `<Static>` element"
See https://github.com/tapjs/node-tap/issues/574

When using the `specy`  reporter in node-tap, the performance falls off as more lines are added to the `<Static>` element.

It looks like `<Static>` is getting the `newChildren` list by converting the list of children to an array (a full scan) and then filtering it (another scan) by checking if it's included in the previously rendered set (another

[2019-06-25 12:03] vadimdemedes commented on #205
Interesting idea about the pointer, I will see what can be done!

[2019-06-25 12:10] vadimdemedes commented on #203
Good point! Basically my intention with this idea is to remove the need to educate people about raw mode and force them to learn what it is. I imagine majority of users just care about receiving user input and I thought abstracting raw mode away would reduce the learning curve. As much as I don't like having multiple things that do one thing, how about adding `isUserInputSupported`, instead of ren

[2019-06-25 13:14] sindresorhus commented on #203
👍

[2019-06-25 13:57] vadimdemedes commented on #205
Fixed via https://github.com/vadimdemedes/ink/commit/78be775973ac234b0ae5e2e65c662fd0297eb038, released in `2.3.0`. Thanks for reporting, @isaacs!

[2019-06-25 13:57] #205 closed

[2019-06-25 14:04] vadimdemedes commented on #194
Fixed in `2.3.0`.

[2019-06-25 14:04] #194 closed

[2019-06-25 15:38] isaacs commented on #205
That was fast! I'll pull your update pr and see if it solves the issue. Thanks!

[2019-06-25 17:12] isaacs commented on #205
Yeah, that made all of tap's ink-based reporters noticeably faster.  Shipped in 14.3.1.

[2019-06-26 08:56] dave-irvine commented on #33
Hi! I'm also looking for the answer to this question!

I love Ink but I've seen in a couple of Issues you've recommended to use react-blessed for certain 'types' of applications and I'm wondering why this is? I think web-apps map pretty well to the ncurses style interface `blessed` gives you, and I can't really see anything specific about Ink that would stop it working the same way?

It would be g

[2019-06-28 01:57] visigoth commented on #138
i started hacking around with `ink` and thought that `react-hotkeys` would be a great way to handle navigation and interaction around CLI applications. finding that `ink` doesn't have event dispatch, i thought it might be nice if `ink` utilized `jsdom` because it will have the kind of event dispatch react applications are already built with and react developers are familiar with. also, a DOM imple

[2019-06-28 03:29] visigoth commented on #138
ah, using the ink reconciler worked! ink-box now renders correctly and i can use `react-hotkeys` to move around with focus events as well.

[2019-06-28 07:35] visigoth commented on #138
hm scratch that - see my comment in #209 - turns out react-dom is not happy with `unstable__transformChildren` and this makes it difficult to render stuff properly. my previous comment was incorrect due to a mismatch between the ink reconciler and react-dom.

[2019-07-02 05:52] LitoMore opened #211 "🌈 Ink UI"
I'm working on a UI set for Ink, I named it [Ink UI](https://github.com/LitoMore/ink-ui).

### Problem 🤔️

Currently, our [useful components](https://github.com/vadimdemedes/ink#useful-components) are from different developers and they have totally different APIs. I think some of them could reuse each other and easier to understand.

### My goal 🏁

Create a UI set like [ant-design](https://github.

[2019-07-08 17:01] KyleAMathews opened #212 "Throttle updates to N FPS (e.g. 60)?"
Given Ink has to update the entire screen — it might be nice to throttle updates globally to e.g. 60 FPS. We're seeing some issues in Gatsby like https://github.com/gatsbyjs/gatsby/issues/15505 that we can fix case by case but a global render throttle seems useful to explore.

[2019-07-09 12:23] timsuchanek opened #213 "Allow running `ink` in the browser"
I tried out running `ink` in the browser and there seem to be the following complications:

First point of failure is, that `readline` doesn't exist in the browser
https://github.com/vadimdemedes/ink/blob/master/src/components/App.js#L1

As we just want a non-interactive renderer which we plug in to xterm.js, we don't need readline.

Removing readline gives the next error: `stdin` not defined.

Th

[2019-07-11 07:36] vadimdemedes commented on #212
Agree, would be a good improvement.

[2019-07-13 12:05] gc opened #214 "Missing background color when using hex code"
[code]

Outputs:
![image](https://user-images.githubusercontent.com/30398469/61171315-3f3ce900-a5b9-11e9-8ef2-78660f428840.png)

It seems like the first column always has no color, is this a bug or am I making a mistake somewhere? The issue seems to arise from the outer `<Box>` component

I tested on multiple terminals (powershell, cmd, git bash) and found the same issue.
Versions:
ink: 2.3.0
reac

[2019-07-18 02:48] illusaen opened #215 "ES6 Imports with create-ink-app"
Hey all,

So I'm pretty new to the React world (about a years' worth of experience with React Native); I've mostly stayed in the C-like or interpreted language families. I decided to start working on a little side project involving writing a console telnet client with Ink, but I'm having issues breaking out components with the default app made by create-ink-app. To be specific, I'm running into wh

[2019-07-19 18:35] benfletcher opened #216 "<Box> default wrapping behavior"
The docs are somewhat unclear on <Box>'s default wrapping behavior:

I don't see "doesn't wrap" in the list of options -- is that 6th behavior that isn't explicitly selectable? In my testing it seems to truncate but without ellipses.

Should the default behavior have a name and be selectable? Since `Box` is so important to layouts, a very clear API and well-defined behavior is important.

Alternat

[2019-07-20 02:48] #215 closed

[2019-07-21 21:21] JureSotosek opened #217 "<Colors> causes a newline"
Before `ink@2.1.0`, three `<Color>` elements one after another would render in a single line.

After and including in `ink@2.1.0`, three `<Color>` elements one after another render in three lines.

This caused, for example, my component https://github.com/JureSotosek/ink-divider to start rending wrongly even when using the 2.0.0 carrot version of ink aka `ink@^2.0.0`. I'm not sure if this is inten

[2019-07-22 04:42] LitoMore commented on #217
@JureSotosek You could use `<Box>` for a workaround. I think it's related to https://github.com/vadimdemedes/ink/issues/195.

[2019-07-22 07:04] JureSotosek commented on #217
@LitoMore Did end up doing that.

[2019-07-22 11:15] wardpeet opened #218 "Terminalwidth is off by 1 character on windows."
It seems like stdout.columns is off by 1 character. It could be an issue with yogalayout on windows. It works perfectly on mac osx.

https://github.com/vadimdemedes/ink/blob/6889f47e5c67210e780c357f0fbb51297a25f5e2/src/instance.js#L21-L23

![terminal picture](https://user-images.githubusercontent.com/11328618/60755580-a40ca800-9fe9-11e9-8cad-4bb48c6f6f04.png)

Component can be found here:
https://

[2019-07-28 22:05] vadimdemedes commented on #218
I don't have a Windows machine to test this out myself, but would you be able to write a simple script that logs `process.stdout.columns` and verify it doesn't match the actual column width in your terminal?

[2019-07-28 22:09] vadimdemedes commented on #217
Actually `<Box>` is a solution, not a workaround. There are no `<span>` or `<div>` elements in Ink. We'll have a warning when they're used soon, see https://github.com/vadimdemedes/ink/issues/164.

[2019-07-28 22:15] vadimdemedes commented on #216
Hm, where did you copy pasted this quote from? Here's what we have in readme:

Note the last line, `<Box>` doesn't wrap text by default. I just confirmed this by using `<Box>{'test'.repeat(100)}</Box>`. If you're seeing different results, could you post how to reproduce them?

[2019-07-28 22:17] vadimdemedes commented on #214
I reproduced your issue and it seems to be some issue with using hex colors. I swapped `<Color bgHex="#fff" hex="#000">` with `<Color bgWhite black>` and it renders as you would've expected. I would recommend using that as a workaround for now.

[2019-07-28 22:24] vadimdemedes commented on #213
That's pretty cool! I was planning to make Ink work in the browser soon as well to create some interactive demos for its website.

/src/components/App.js@master#L1
I think it's possible to replace `readline` with your own fake module to suppress this error in the browser. The only method it needs to export is `emitKeypressEvents`, see https://github.com/vadimdemedes/ink/blob/master/src/components/

[2019-07-28 22:26] vadimdemedes commented on #211
Neat! Keep us posted how it goes.

[2019-07-29 04:11] benfletcher commented on #216
Re-reading my post I can see it was confusing. The "quote" was partially a quote and partially a suggested change, with the brackets the change.

I agree, the default is no wrapping, but a different kind of no wrapping than available with any of the defined options. I think the default behavior should have a name, be explicitly selectable and be defined. Nowhere is the default behavior's differenc

[2019-07-29 10:00] timsuchanek commented on #213
Yes, you can have a look into the patches I did to make it work:
https://github.com/timsuchanek/ink-browser/tree/master/patches

And we're already using it to document our CLI with mdx: https://prisma-specs.netlify.com/cli/init/
https://github.com/prisma/specs/tree/master/cli

[2019-07-29 16:49] herecydev commented on #218
Logging `process.stdout.columns` shows 120 on my windows machine which is what powershell terminal is set to by default (at least I haven't adjusted it). Problem still exists unfortunately:

![image](https://user-images.githubusercontent.com/11328618/62066401-1eb39680-b229-11e9-9ec9-24e905e93b7c.png)

[2019-07-29 18:18] herecydev commented on #218
![image](https://user-images.githubusercontent.com/11328618/62071447-77d4f780-b234-11e9-9445-0ee0b574fa20.png)

I started an ink project using the `create-ink-app` so we can definitely rule out any downstream projects being the issue. Some further observations: It doesn't matter what character is printed or the width of the terminal, the outcome is the same.

1 ... N-1 characters => a line break =

[2019-07-29 19:08] herecydev commented on #218
Logged upstream https://github.com/sindresorhus/log-update/issues/41

[2019-07-29 21:36] wardpeet commented on #218
We probably want to pass `stdout.columns` - 1 like log-update does to yoga-layout.

[2019-07-30 01:17] vadimdemedes commented on #218
@wardpeet Oh, I didn't know about that - https://github.com/sindresorhus/log-update/blob/master/index.js#L13-L17!

Would you like to create a PR for it?

[2019-07-30 01:18] vadimdemedes commented on #218
@herecydev Hm, so you're saying `log-update` has the exact same issue, even without Ink?

[2019-07-30 01:20] vadimdemedes commented on #213
That's amazing! Have you tried my suggestions above? I think these fixes should be enough to make Ink work in the browser and not require patches you've linked to, since these will most likely break eventually.

[2019-07-30 01:23] vadimdemedes commented on #216
Ah, I see what you mean now. I will make note to explain `textWrap` better in the readme. Thanks!

[2019-07-30 01:25] #211 closed

[2019-07-30 01:26] #217 closed

[2019-07-30 01:26] vadimdemedes commented on #143
It's out now! https://github.com/vadimdemedes/create-ink-app

[2019-07-30 01:26] #143 closed

[2019-07-30 01:30] vadimdemedes commented on #158
If anyone could test #210 with their apps, that'd be great!

[2019-07-30 06:19] herecydev commented on #218
Yes the problematic code is within `log-update` and is not a direct fault of Ink. It would be good to keep this issue open depending on what we can do to fix `log-update`.

[2019-07-30 06:20] herecydev commented on #218
By the way I've already created a PR to resolve the issue.

[2019-08-14 20:40] Cassers commented on #189
Any news of this, at least an estimated date ?, some year? XD

[2019-08-20 10:16] ameerthehacker opened #220 "Click Event"
I'm looking for something like a button behavior in ink, i.e if I click on a text or item I should get an event trigger is that available in ink?

[2019-08-21 08:56] KumaresanDevi commented on #37
HI @vadimdemedes ,

Help needed here also:

https://github.com/angular/angular-cli/issues/15392

[2019-08-29 14:48] arcanis opened #222 "Scrolling"
Hello! I've been playing with Ink yesterday, and I really like where you're going. I've worked on [something similar](https://manaflair.github.io/mylittledom/demo/#complex-form) before, but your approach seems much simpler and less labyrinthine. Kudos!

One particular thing I'm finding myself missing, however, are scrollable containers. I anticipate that printing a lot of data will eventually caus

[2019-09-06 02:36] vadimdemedes commented on #222
Hi, thanks! I want to merge https://github.com/vadimdemedes/ink/pull/210 to solve this problem, I just want to test it more extensively. With this PR seems you won't need scrollable containers anymore.

[2019-09-06 02:41] vadimdemedes commented on #37
@KumaresanDevi how is it related?

[2019-09-06 02:42] vadimdemedes commented on #220
That's not possible, because there's no clicks in CLIs. I know it's possibly via ncurses (if I'm not mistaken), but that's not something I'd be interested to have in Ink.

[2019-09-06 02:42] #220 closed

[2019-09-07 19:26] herecydev commented on #218
This is fixed upstream, running `yarn ugrade` for yarn or `npm update` for npm should resolve this.

[2019-09-13 23:15] kaelig opened #225 "Thank you for making this!"
I'm with @ada-lovecraft [on this one](https://github.com/vadimdemedes/ink/issues/30)!

I've built a bunch of CLI utilities over the years.

Thanks to ink, and for the first time, I had fun making a CLI ❤️

[2019-09-15 00:21] vadimdemedes commented on #225
Thank you so much, I'm really happy to hear that! :)

[2019-09-15 00:21] #218 closed

[2019-09-15 09:15] arcanis commented on #222
Hm but that doesn't solve the issue for interactive elements, right? For example, if we imagine a list of radio buttons, the ones beyond the top of the screen would never be visible without first-party scrolling (terminals support some basic scroll, but typing anything would put back the scroll to the bottom).

[2019-09-16 01:00] colinking opened #228 "`Box` `height` doesn't reset on re-render"
It appears that the `height` property might be updated when re-rendering a component, though I may be misunderstanding something!

Here's a quick example:

[code]

I would expect to see all five numbers printed out, but only see the first three:

[code]

When run with `debug=true`:

[code]

Note: I just swapped `height` out with `marginTop`/`marginBottom` here and it works fine!

[2019-09-16 01:07] colinking opened #229 "Add <Newline> and <Spacer> components"
This question might make zero sense in the context of terminals, but would Ink consider adding support for the break line (`<br/>`) tag?

This would replace the need to use `{'\n'}` for new lines, though CMIIW and there is already a better way to add newlines to text in Ink! Might be that most use-cases should just use `flex`/`margin`/`height`, but that seems to quickly become verbose in my experi

[2019-09-16 02:55] colinking opened #230 "Bug: wrapped text overrides margins when using escape sequences"
Stumbled into what might be a bug with how Ink handles wrapping text when that text contains certain escape sequences. Not sure if it affects all escape sequences, but I've included an example using the [escape sequences associated with linked text](https://gist.github.com/egmontkob/eb114294efbcd5adb1944c9f3cb5feda) (via [`ink-link`](https://github.com/sindresorhus/ink-link)).

-----

Here's an ex

[2019-09-16 04:58] sindresorhus commented on #230
Ink uses `wrap-ansi` to wrap text. See https://github.com/chalk/wrap-ansi/issues/35.

[2019-09-16 05:01] sindresorhus commented on #229
If we decide to add this, which I personally think could be useful, it should be something like `<Newline/>` and not `<br/>` as we also moved away from using `<div>` and `<span>`.

[2019-09-21 04:57] vadimdemedes commented on #222
Yep, in this case components have to implement their own scrolling, similar to https://github.com/vadimdemedes/ink-select-input.

[2019-09-21 05:08] vadimdemedes commented on #228
Could you try out https://github.com/vadimdemedes/ink/pull/232 and let me know if it fixes the issue for you?

[2019-09-22 22:10] colinking opened #233 "`justifyContent='flex-end'` not working as expected"
I'm trying to use `justifyContent='flex-end'` to right-align some content, but it seems to not work as expected (though CMIIW!). I put together a small example:

[code]

You can run this like so:

[code]

[2019-09-22 22:36] colinking commented on #228
Put this example in [`colinking/ink-testing`](https://github.com/colinking/ink-testing), so it can be run like so:

[code]

Just tried running it with the latest version from your branch, and it appears that the CLI exits without waiting. For example:

[code]

[code]

[2019-09-22 22:50] colinking commented on #230
Added the above examples to [`colinking/ink-testing`](https://github.com/colinking/ink-testing), so it can be run like so:

[code]

Which produces this:

[code]

Oddly enough, I'm not able to re-create my earlier examples, so I'm going to have to dig a bit more. 😅

I believe this is still an issue, but going to close until I've got a recreate-able example :)

[2019-09-22 22:50] #230 closed

[2019-09-22 23:08] #183 closed

[2019-09-22 23:20] vadimdemedes commented on #228
Yeah, I had the exact same problem few days ago. Replacing `useEffect` with `useLayoutEffect` has solved it for me. Check out https://github.com/vadimdemedes/ink/pull/147#issuecomment-531598933. TLDR is `useEffect` doesn't run soon enough after Ink renders a frame, so process exits before `setTimeout` is executed in your code. `useLayoutEffect` however, ensures to run the effect immediately after

[2019-09-22 23:21] vadimdemedes commented on #228
I'm not sure why original reconciler/renderer doesn't have the same problem, I wonder if it's the slowness of building new output every frame. New reconciler is significantly faster in that regard, so it could be that.

[2019-09-23 07:03] vadimdemedes commented on #228
I can't believe I just spent an entire day debugging React internals and all it was is just out-dated `react-reconciler` dependency that I had. Kill me now.

[2019-09-26 04:08] vadimdemedes commented on #212
Released https://github.com/vadimdemedes/ink/releases/tag/v2.4.0, which throttles rendering to 60 FPS, if [experimental mode](https://github.com/vadimdemedes/ink#experimental-mode) is enabled. Thanks for suggestion!

Will keep this issue open until new reconciler and renderer becomes a default one.

[2019-09-26 04:10] vadimdemedes commented on #138
Released `2.4.0`, which adds [`useInput`](https://github.com/vadimdemedes/ink#useinput) hook.

[2019-09-26 04:10] #138 closed

[2019-09-26 04:12] vadimdemedes commented on #185
Closing due to lack of activity.

[2019-09-26 04:12] #185 closed

[2019-09-26 04:13] #182 closed

[2019-09-26 04:13] #166 closed

[2019-09-26 04:15] #133 closed

[2019-09-27 04:30] vadimdemedes commented on #233
While I'm working on a fix, you can workaround this by wrapping `<Color grey>[1/6]</Color>` in a `<Box>`, like so:

[code]

[2019-09-28 19:35] colinking opened #234 "React development error messages interfere with Ink output"
When an error boundary's `getDerivedStateFromError` handler is called, React will print out a warning to the console like so:

[code]

Because of this log output, it means that when the error boundary component is rendered _after_ the previous component, instead of overwriting it.

I put together a small example that hopefully explains this better:

[code]

You can run this like so:

[code]

[2019-09-29 17:50] vadimdemedes commented on #233
Fixed via https://github.com/vadimdemedes/ink/commit/1f9630050d78ae294080d53f0f00cd94e95a3027. Will keep the issue open until new release is out.

[2019-09-29 17:55] vadimdemedes commented on #234
The reason it happens is because that `The above error occurred in the <Example> component:` is automatically written to stdout by React, it's not rendered as part of your Ink app. These warnings occur only when `NODE_ENV` is not set to `production` (similar to client-side apps).

So if you run your app with `NODE_ENV=production`, this message will go away:

[code]

[2019-09-29 17:56] vadimdemedes commented on #234
I should add a section to readme describing the need to set `NODE_ENV=production` when distributing Ink-powered CLIs to end users.

[2019-09-29 18:10] vadimdemedes commented on #228
Fixed via https://github.com/vadimdemedes/ink/commit/e5b7569c2e6b65624e60ef68b7a06c3db1a0ed01 for non-experimental mode. Will keep this issue open until release.

[2019-09-29 18:11] vadimdemedes commented on #229
Could you share where do you find a need to use `\n`?

[2019-09-29 18:34] #225 closed

[2019-09-29 18:41] vadimdemedes commented on #152
This seems to be the same issue as https://github.com/vadimdemedes/ink/issues/228, where Ink didn't unset props properly. Will be fixed in the next release.

[2019-10-04 18:23] deanius commented on #213
I'm trying ink in the browser (v 2.4.0), and not running into the readline problem. Is it possible more work went into this but the issue never got closed? I'm not sure it's going to be worth it for me, since pixel math and fonts are tricky, but I was excited to even see divs with appropriate flexbox properties. Gotta love React (and your work on this lib @vadimdemedes!)

[2019-10-05 22:50] vadimdemedes commented on #213
Hey @deanius, thanks! Ink got rid of `emitKeypressEvents` usage (https://github.com/vadimdemedes/ink/commit/4960ff799a9ba53dafbf66df2433f0156c01e4ac#diff-57aa11691094c3295e1f9dcbe8432ba2L100), so it's indeed should longer be an issue. Btw, I now realize this may have been a breaking change! Haven't had any reports so far, I assume most people have just used `ink-text-input` for user input and didn

[2019-10-05 23:26] #158 closed

[2019-10-05 23:29] vadimdemedes commented on #158
Released in `2.5.0`, you can enable this feature via [experimental mode](https://github.com/vadimdemedes/ink#experimental-mode).

[2019-10-05 23:29] vadimdemedes commented on #137
In `2.5.0` `useApp`, `useStdin` and `useStdout` hooks were added.

[2019-10-05 23:29] vadimdemedes commented on #152
Fixed in `2.5.0`.

[2019-10-05 23:29] #152 closed

[2019-10-05 23:30] vadimdemedes commented on #233
Fixed in `2.5.0`.

[2019-10-05 23:30] #233 closed

[2019-10-05 23:30] vadimdemedes commented on #228
Fixed in `2.5.0`.

[2019-10-05 23:30] #228 closed

[2019-10-24 12:25] hexrcs commented on #188
I just made a new big text component based on figlet.js, as the original one seems not actively maintained. I'm writing it in TS and plan to add color themes support, so I didn't directly fork [Kimoto's repo](https://github.com/KimotoYanke/ink-figlet), and named it `ink-ascii`.

Created a PR #238 to add it in the README, if I may. 😄

[2019-10-25 06:11] AlexLakatos commented on #188
I'm working on an independent export for the generate() function, it should be ready by Monday. So you could depend on the ascii-themes module, and use the generate function, without having to port the themes.

[2019-10-25 15:00] JakeDawkins opened #239 "Examples of Usage with Oclif"
Are there any examples available where Ink is used with [oclif](https://oclif.io)?

Oclif has some magic that happens in development where it looks at pre-build files to determine what commands are. And when using with ts, where you need to use the `tsx` extension to enable jsx, oclif won't pick up `tsx` files.

Not anything Ink can fix, just curious if there are any examples. I'd rather not use b

[2019-10-28 23:29] isaacs opened #240 "Notification (from outside Ink) of when app is unmounted"
I want tap to be able to run a script _after_ all tests have been run, and have it print to the same stdout/stderr as the main test scripts, but after all the reporter (ink) output is completed.

It looks like Ink monkeypatches onto process.reallyExit, so there's really no way to do anything after Ink is done, but before the process exits.

Is there something I'm missing?  If not, would you be ope

[2019-10-28 23:30] isaacs commented on #240
Ah!  Nevermind, it's using signal-exit.  I can just add an `alwaysLast: true` handler.

[2019-10-28 23:30] #240 closed

[2019-10-30 19:28] benfletcher opened #241 "Yoga error with empty Text inside Box and Color"
This issue seems new with the latest version and it crosses two libraries.

Things that hide the error:
- Remove `<Color/>`
- Remove `<Box/>`
- Set value to a string of length 1 or greater

[code]

Error is `TypeError: Cannot read property 'yogaNode' of undefined`

Same error with `<Text />` in place of the TextInput component.

[2019-11-03 01:39] maurer2 commented on #215
Hello, you need to use importJsx to import a child component, e.g.
[code]

[2019-11-03 22:08] mAAdhaTTah commented on #234
Is there any way to disable this behavior without setting `NODE_ENV=production`? The issue is if you run other tools from an Ink app with that set, they may behave differently than you'd like (e.g. you may want `NODE_ENV=test` when using Ink to run a test suite to get the babel configuration correct).

[2019-11-06 22:26] schuchard commented on #239
https://ti.to/egghead-live-online-events/build-custom-cli-tooling-with-oclif-and-react-ink-with-shawn-swyx-wang-2019-11-18/en

[2019-11-06 22:41] JakeDawkins commented on #239
Ah, interesting! Thanks for the link @schuchard

[2019-11-13 21:04] ukabu opened #242 "Add `useFocus` hook to manage input focus"
Do you have any recommandation for managing focus for multiple input component.
My current use case is to be able to display multiple SelectInput and be able to tab thru them. The component already have a focus prop, but how would I manage the focus when the multiple SelectInput are not within the same react component?

[2019-11-18 08:08] sw-yx commented on #242
possibly related: https://github.com/jdeniau/ink-tab/issues/14

[2019-11-18 09:31] jdeniau opened #243 "Breaking change while removing `emitKeypressEvents`"
Hi @vadimdemedes

I am maybe late, but as you mentionned here :

https://github.com/vadimdemedes/ink/issues/213#issuecomment-538695630

As a matter of fact [ink-tab](https://github.com/jdeniau/ink-tab) is using `keypress` events :smile:

The documentation is indeed still mentionning the call to `emitKeypressEvent`

What is the recommended way to fix this ?
I temporary added the call to `emitKeypre

[2019-11-20 11:13] vladar opened #245 "textWrap="wrap" unexpectedly truncates long strings"
Reproducible example:

[code]

Steps to repro:
1. Resize terminal so that wrapping happens
2. Run the example above

Expected result:
[code]

Actual result:
[code]

The interesting thing is that if we remove `{" "}` part from the message component - it works as expected. Removing `textWrap="wrap"` also helps.

[2019-11-23 19:54] vadimdemedes commented on #243
Ha, yeah sorry about that!

Good catch, I'll remove it.

I think you can keep using `emitKeypressEvents`, because calling it twice shouldn't be an issue.

I wouldn't worry about that, Ink is only intended to be run in Node.js environment.

[2019-11-23 19:58] vadimdemedes commented on #242
As you noted, you'd need to use `focus` prop, but I can see how that can become troublesome when components are elsewhere. Perhaps it's time to introduce something like `useFocus()` to make Ink manage focus and let 3rd-party components easily benefit from it. I will think about it more, but can't give you an ETA, so until then I'm afraid you'd have to implement a custom solution for this problem u

[2019-11-23 20:00] vadimdemedes commented on #239
@schuchard Oh nice, wasn't aware of it!

@JakeDawkins This sounds like oclif should fix on their end.

[2019-11-23 20:01] vadimdemedes commented on #234
@mAAdhaTTah I'm afraid not, it's not something Ink controls, it's in React's source code.

[2019-11-23 21:42] jdeniau commented on #243
@vadimdemedes that's the solution I used thank you.

You can close this when the documentation is up to date (or whenever you want in fact 😉)

[2019-11-23 21:47] jdeniau commented on #242
I think it's a good approach that ink manage the focus, as does a web browser 👍

[2019-11-25 03:45] jasonkuhrt commented on #94
Was looking for this too. Building a terminal app that toggles between UI (handled by ink) and logs (regular stream piping from child process to stdout). when user toggles between two views, would like the UI to be cleared, not just unmounted.

[2019-11-25 04:27] jasonkuhrt commented on #94
Workaround for us, so far, was something like this:

[code]

[2019-11-25 15:32] mAAdhaTTah commented on #234
Interesting–this is better for Pastel, but maybe worth suggesting bundling into a compiled .js file such that it strips that stuff out in advance so it doesn't affect the final runtime.

[2019-11-25 23:51] isaacs opened #246 "bump chalk to v3?"
Chalk v3 is out, and has some nice performance improvements.

[2019-11-28 03:12] #246 closed

[2019-11-28 03:26] #243 closed

[2019-11-28 03:26] vadimdemedes commented on #246
Out in `2.6.0`.

[2019-11-28 03:46] isaacs commented on #246
\o/

[2019-12-04 16:22] JakeDawkins commented on #239
In case anyone stumbles upon this in the future, It looks like oclif was having trouble because it was picking up the project's `tsconfig.json` and merging it with its own internal one (what??). So renaming the config something else was able to unblock this from working. Hopefully we'll have a CLI to show as proof soon! :) For now, just a WIP PR 💪 https://github.com/apollographql/apollo-tooling/pu

[2019-12-04 16:22] #239 closed

[2019-12-09 22:14] colinking opened #248 "Global option to disable all colored output"
What do you think of adding an option, maybe passed to `render`, that disables all colored output?

This could just be a flag that changes the behavior of the `Color` component that toggles whether this `transformChildren` method is provided or not: https://github.com/vadimdemedes/ink/blob/e0d2b4fcad9860b275f5149c4a4a893c8810026c/src/components/Color.js#L41

The use-case is that some terminals may

[2019-12-13 16:03] maxdumas opened #250 "Deno support"
[`deno`](https://deno.land/) seems like a great environment for running `ink`, as it aims to be a simple, secure, and fast way to ship JavaScript executables to users while being extremely light in setup for developers. Looking at `ink` and putzing around a bit (I'm admittedly pretty new to `deno` and `ink`), it seems that there are a few issues with its current setup that make it difficult to use

[2019-12-16 13:24] sindresorhus commented on #250
1. We'll just wait until we can target ESM in Node.js, which should be possible soon.
2. We would rather use the `"type": "module"` field: https://nodejs.org/api/esm.html#esm_code_package_json_code_code_type_code_field
3. This would be very large undertaking.

---

I've been passively following the Deno development, and while it has great potential and has done many things right (Rust, TS, securit

[2019-12-16 13:26] sindresorhus commented on #248
What terminals? That sounds like a bug that should be reported to such terminals.

[2019-12-16 15:49] maxdumas commented on #250
Thanks for the response @sindresorhus! Those are definitely fair points, especially regarding (3). I may continue exploring the idea in my own fork. If I am able to get anywhere then I'll definitely keep you posted.

[2019-12-16 17:19] rickbutton opened #251 "cursor support?"
Hi!

First, `ink` is an amazing awesome project and I'm so glad it exists.

Have you considered support for mutating the cursor position? I'm working on the repl for [rickbutton/turbo](https://github.com/rickbutton/turbo) and need a way to represent the actual cursor.

Ideally, the cursor could exist as a special component, that when drawn on the screen moves the cursor to its actual position in t

[2019-12-17 18:54] colinking commented on #248
This was reported specifically with the default Ubuntu terminal, and I've since recreated it with some example images in the upstream issue here: https://github.com/segmentio/typewriter/issues/115

This might be how 8-color terminals render this kind of text, but I haven't gotten around to digging in quite yet :)

[2019-12-22 22:55] goliney opened #252 "Add `clear` method to clear output"
I want to clear the screen before exiting.
This is what I tried:
[code]
But it doesn't work.

If I try to print an empty line with `app.rerender(<Box>{'\n'}</Box>);` it works, but I don't need an empty line.

Could you please give me a piece of advice?

[2019-12-24 21:02] marchingband opened #253 "import statements"
how can I use import statements?
your examples in the readme use them, but they don't work for me after using create-ink-app

[2019-12-24 22:03] marchingband commented on #253
I've had success with pastel, perhaps mentioning that tool in the ink readme would be helpful

[2019-12-24 22:04] marchingband commented on #253
(for those finding this thread)
this tool sets up a tool chain that uses the es6 import syntax we might expect.

https://github.com/vadimdemedes/pastel

[2019-12-31 00:05] jdeniau commented on #242
@vadimdemedes I started working on this here : https://github.com/jdeniau/ink-focus-demo

There is still some work to do, things I don't really understand, and the external API is a little too complicated I think, but I think it is a good start to keep a global focus state if you are interested.

[2020-01-08 23:06] jdeniau commented on #242
@vadimdemedes I have a working version on https://github.com/jdeniau/ink-focus-demo now.

The API is the following :
Encapsulate every component that may be focusable like that :
[code]
_[See TextInput.js](https://github.com/jdeniau/ink-focus-demo/blob/master/src/TextInput.js)_

The wrapped component will receive a `focus` boolean prop (I used the `ink-text-input` props, but I think `isFocused` or

[2020-01-09 08:33] zaripych commented on #222
Maybe what @arcanis means here is something of a general purpose scrolling component that can wrap any number of components as children and allow scrolling through it. I tried to write something like that and bumped into a few issues:

- there seem to be no way to measure height of the child nodes (it is possible in `react-native` that also uses `yoga`, using `measure` functions)
- there seem to b

[2020-01-09 10:24] arcanis commented on #222
Yes exactly. Fixed-size single-row elements are easy enough to scroll, but as soon as you get more complex setups it becomes kind of a pain - even fixed-size multi-row elements aren't trivial to implement this way since you then need to find a way to make them partially visible.

In my case for example, I have a bunch of elements like this. When using Ink on large projects, the list goes well past

[2020-01-11 18:08] mAAdhaTTah commented on #137
I have a `useExit` hook for a project I'd be willing to upstream:

[code]

Don't know if the `ExitError` class is something you want or not, but it enables the code that runs the CLI to set the process's exit code.

Happy to PR this if you want it.

[2020-01-12 14:11] vadimdemedes commented on #137
I don't think there's a benefit to having `useExit` when `useApp` exposes the same functionality via `exit` function.

[2020-01-12 14:19] vadimdemedes commented on #222
I don't have a solution for it short-term and browser-like focus management is also required to make scrolling work, which certainly complicates things. Until Ink provides some sort of feature for this, custom scrolling implementation is the way to go for this sort of UI.

[2020-01-12 14:21] vadimdemedes commented on #242
I have had only rough ideas for `useFocus`, so I'm very curious to check out your take on it, nice!

[2020-01-12 14:22] vadimdemedes commented on #253
`import` syntax isn't related to Ink. Google it and I'm sure you'll find how to use ES6 import statements in Node.js.

[2020-01-12 14:22] #253 closed

[2020-01-12 14:34] vadimdemedes commented on #252
I'll add a `clear` method 👍

[2020-01-12 14:36] vadimdemedes commented on #251
I implemented a cursor in https://github.com/vadimdemedes/ink-text-input already, perhaps I should indeed look how to make it reusable, good suggestion.

[2020-01-12 21:08] mAAdhaTTah commented on #137
Fair. This issue might be worth closing now that the first batch is in.

[2020-01-12 21:43] mAAdhaTTah commented on #213
If we can get that working in the browser, it would be really awesome to be able to plug components into Storybook.

[2020-01-13 16:26] rickbutton commented on #251
If you are interested in a reference, I implemented this in the react terminal renderer inside turbo here: https://github.com/rickbutton/turbo/blob/master/packages/cli/src/renderer/draw.ts#L108

[2020-01-14 09:35] zaripych commented on #222
Hey @vadimdemedes ... I agree that focus management might be complicated. However, at the moment, it can be implemented by the users of the library, using `useInput` hook and a couple of custom baked hooks that will have to be used by every input element.

The layout issues that I found, however, can only be fixed through exposing `yoga` API from `Box` instance (similar to `unstable_getComputedWid

[2020-01-15 04:57] pfgithub commented on #220
Most terminals have mouse escape codes that can be enabled. An example of implementation in node is [terminal-kit's grabInput function](https://github.com/cronvel/terminal-kit/blob/HEAD/doc/high-level.md#grabinput-options--safecallback-).

[2020-01-26 19:12] arabold opened #258 "Console logs and the <Static> component"
I've just started using Ink, so I might be overlooking something obvious here. But I'm trying to have  my CLI user interface play nice with my logging components. I would like to see logs dumped on screen above the actual UI itself. Following the documentation I use a `<Static>` component for this. It works perfectly fine as long as I keep all log lines in an array and then render that array withi

[2020-02-01 21:38] peterp opened #259 "Specify @types/react as an optional dependency"
Right now @types/react is [specified as a peerDependency](https://github.com/vadimdemedes/ink/blob/master/package.json#L87), perhaps specifying it as an optional dependency would get rid of missing peer dependency warnings for packages that install it as a devDependency?

[2020-02-01 21:45] peterp commented on #259
Closing this because `optinalPeerDependencies`.

[2020-02-01 21:45] #259 closed

[2020-02-14 10:40] sindresorhus commented on #248
You can already do `$ some-cli --no-color` as Chalk (the coloring library) [respects that flag](https://github.com/chalk/chalk#chalksupportscolor).

I would also consider trying to work around the issue in Chalk or Ink instead of putting that burden on every Ink consumer. Maybe we can detect that Ubuntu terminal and just do white instead of gray then.

It would be good to figure out exactly what t

[2020-02-16 11:43] #241 closed

[2020-02-16 11:49] vadimdemedes commented on #258
There's a similar issue open at https://github.com/vadimdemedes/ink/issues/162. My first attempt at solving it fail, will try again soon.

Meanwhile, you can limit the size of `logs` array to only store 100 logs, for example. However, you have to have a ton of logs to run out of memory.

[2020-02-16 11:49] #258 closed

[2020-02-16 12:02] vadimdemedes commented on #242
I checked out your repo and it's really good, very similar to what I had in mind. The only difference would be that I'd prefer users to use `useFocus` hook directly instead of `withFocus` HOC.

Good point, not sure what's the ideal solution here. One way to solve this would be to let text inputs that expect "Tab" to disable focus switching? It's not perfect, but I don't think majority of text inpu

[2020-02-16 15:17] arabold commented on #258
Thanks for the update and looking forward to a possible final solution soon. In the meantime limiting the log array size will not work, however, as the Static component only seems to render new lines if the array size increases. Hence my original question if I'm doing something wrong or misunderstand how to use Static.

[2020-02-16 16:50] jdeniau commented on #242
Thanks!

I think it will do the trick.
I haven't stop thinking about this, and I think the ideal solution would be
to implement the same pattern as the browser do and thus I'm not fully
satisfied withmy implementation.
As I don't want to push code that might imply a breaking change soon, I
preferred keep thinking about it.

Le dim. 16 févr. 2020 à 13:02, Vadim Demedes <notifications@github.com> a

[2020-02-18 14:53] vadimdemedes commented on #258
Could you try adding `experimental: true` option and checking if all items are rendered this time? See https://github.com/vadimdemedes/ink#experimental.

[2020-02-20 12:33] jdeniau commented on #242
As I re-read my code about that, I think we might expose both `useFocus` and `withFocus`, but `useFocus` is a little harder here, as you need to provide a `ref` to your component (but you will have more control afterwards).

Another way around is to return a ref that you might inject in your component this way:
[code]
but that seems really really weird 🙃

[2020-02-22 19:21] sindresorhus opened #261 "Issue with background color bleeding"
See: https://github.com/sindresorhus/emoj/pull/34#issuecomment-589989492

[2020-02-25 20:38] jdeniau commented on #242
I managed to remove the `ref` dependency, I will need to test it further.

As soon as I manage to handle the `TAB` key, I will open a PR

[2020-03-14 16:15] AlanFoster opened #263 "Can ink be used as a "full" screen application?"
Hey; I love the concept of this library. Just wondering if it's possible to make a "full" screen application using ink? By that I mean, something like `htop` which takes over the full screen, and when you quit - it leaves your original terminal completely in tact.

This is something that can be done with python's curses library, or when using [blesses](https://github.com/chjj/blessed):

[code]

Wh

[2020-03-15 14:12] ArvinH commented on #177
Hi @vadimdemedes Thanks for this awesome lib, I'd like to upgrade some incompatible components to v2, is there any migration guide I can follow with?

[2020-03-18 22:51] taras commented on #263
@AlanFoster you can definitely do this by playing around the components that Ink comes with. You can render a Box component that has height that is the same height as terminal and it'll be full screen. Because Ink uses Yoga, which provides Flexbox APIs, the approach is similar to how you'd create a full screen web app with Box components.

[2020-03-19 00:43] AlanFoster commented on #263
@taras I learnt more about curses/ncurses and infoterm, via `man infoterm`.

I found out you can use ansi escape codes to swap to an alternate screen buffer for 'full screen' applications, and once you're done you can toggle back to the main buffer:

[code]

Therefore as a full example:

[code]

Working example that doesn't conflict with the existing buffer:

![alt-screen-buffer](https://user-imag

[2020-03-19 00:47] taras commented on #263
Nice one. It would be nice if it was. Maybe a component that you could wrap around the main container?

[2020-03-20 22:09] milesj opened #267 "`waitUntilExit` never resolves in Jest"
I'm unable to test my CLI that uses async rendering and `waitUntilExit` as it never resolves in Jest. Even the most basic example:

[code]

Times out and fails with:

[code]

I've tried with debug on/off, experimental on/off, different stdin/stdout, and every other combinations, and its always the same timeout.

I'm guessing `unmount` is never called because there is no signal.

[2020-03-20 22:26] milesj commented on #267
I got it sort of working with this, which is pretty janky.

[code]

[2020-03-28 15:51] vadimdemedes commented on #267
See docs - https://github.com/vadimdemedes/ink/#waituntilexit, it's not going to trigger until app is unmounted either via [`unmount()`](https://github.com/vadimdemedes/ink/#unmount) or exiting the entire process.

[2020-03-28 15:54] vadimdemedes commented on #263
@AlanFoster Interesting! Was always wondering how it's being done. @taras Indeed, perhaps there could be a component that would take care of this.

[2020-03-28 16:01] vadimdemedes commented on #177
Currently there isn't unfortunately. Is your component open source? Perhaps I could give you some tips on how to migrate it and write the guide as we go.

[2020-03-28 20:29] milesj commented on #245
I think I'm running into the same issue. Here's 2 examples, the first with `wrap`, the second without it. Note how wide my terminal is yet it still wraps!

<img width="1368" alt="Screen Shot 2020-03-28 at 13 28 28" src="https://user-images.githubusercontent.com/143744/77833117-18e3bd00-70f8-11ea-96e5-41e55a21e86f.png">

[2020-03-31 23:59] tknickman opened #269 "Links don't render correctly when used with flexDirection='row'"
I am seeing a strange issue when using `ink-link` (or `terminalLink` as well) along with the [Box](https://github.com/vadimdemedes/ink/blob/master/src/components/Box.js) provided by [ink](https://github.com/vadimdemedes/ink).

I am trying to make a two column layout with ink, utilizing links in each column.

If I add links to the text as follows:

[code]
This renders fine:
![working](https://www.d

[2020-04-01 07:35] eps1lon commented on #212
I gave it a try and it definitely helped (70s runtime instead of 240s). Though it's still faster to manually batch updates at 30fps (40s instead of 70s).

It would be perfect if we could set the fps ourselves. 60fps is too much IMO as a default. 60fps is needed for smooth animations and I'd say that most CLIs don't need smooth animations.

[2020-04-01 18:18] nainardev opened #271 "Convert README example to Hooks"

[2020-04-03 13:00] ArvinH commented on #177
Thank you @vadimdemedes, here's the repo I was planning to use https://github.com/maticzav/ink-autocomplete, I'm not the author but I'm more than happy to help to upgrade it.

[2020-04-03 14:07] tknickman commented on #263
Nice tips @AlanFoster! I'm using this for a CLI I'm working on now and have wrapped it into a small component locally. Happy to publish that if you would find it useful / weren't planning on pushing one up yourself.

[2020-04-03 20:38] amfarrell commented on #263
@tknickman I'd be interested in reading that

[2020-04-03 20:42] KyleAMathews opened #272 "Embed a terminal within an Ink application"
Is this possible some how?

[2020-04-03 20:55] AlanFoster commented on #263
@tknickman Sure, go ahead 👍I think doing that in a cross platform way will be an interesting challenge. It would be also be interesting to see what layouts/other components make sense to develop in a world of full screen cli apps.

[2020-04-04 20:17] apatrida opened #273 "Document terminal compatibility"
It isn't clear with what terminals (at least cover 5 mains ones on different OS) for which Ink is compatible.

Mac OS X - Terminal & Iterm 2?
Windows Terminal?
etc

It would be helpful for people trying to decide to adopt this framework or not.

[2020-04-05 14:00] vadimdemedes commented on #273
Fair enough, would be useful to have that.

[2020-04-05 14:03] vadimdemedes commented on #271
Can you submit a PR for it?

[2020-04-05 14:10] vadimdemedes commented on #21
Re-opening, because Ink is still rebuilding output of components that didn't necessarily change during last React commit.

[2020-04-05 14:11] vadimdemedes commented on #212
Yeah, good suggestion. I'll try lowering it to 30fps. I'm not sure ability to customize fps would be a good move, because it's more of avoiding the root cause of a problem, rather than properly fixing it. For example, a progress bar component might be implemented to refresh every 100ms, when 1s would be more than enough.

One thing I wanted to do for a while that could help performance a lot is av

[2020-04-05 14:24] vadimdemedes commented on #272
You could try spawning `bash` and piping input/output to/from this process. I think it's going to be very challenging to support something like this, because you can't know which programs will be executed in that terminal session and what is their output like, because it could mess up output of your (parent) CLI.

[2020-04-05 18:29] KyleAMathews commented on #273
Is it not compatible with any of them? My understanding is that some terminals just don't support certain advanced features.

[2020-04-06 03:29] apatrida commented on #273
I don't know which it is compatible with, neither does anyone else who hasn't tried it with all of them.  So as we learn, we should document it.

[2020-04-06 05:05] KyleAMathews commented on #272
Ah yeah good point. It'd be hard I assume to filter things correctly 👍

[2020-04-06 05:05] #272 closed

[2020-04-07 23:33] apatrida commented on #222
I'm running into this as well, I need to scroll at the size of the screen minus the area taken by boxes above/below the component.  I can implement scrolling based on some fixed height, but have no good way of knowing the sizes of boxes.

[2020-04-08 17:16] apatrida commented on #168
I can't see another good way to allow something like having a scrolling list that must stay within the bounds of the window vertically without being able to calculate the height allowed and any wrapping that is happening within the contents.

[2020-04-12 00:44] KyleAMathews opened #274 "Larger amounts of text don't get removed correctly"
Reproduces every time past say 20 lines e.g. I render the text and then when it should be removed, much of it isn't.

You can see this happening at second 47 of my screen recording here https://twitter.com/kylemathews/status/1248723127787388928?s=09

[2020-04-12 09:41] vadimdemedes commented on #274
Not sure I understand the issue by looking at the video there, would you be able to publish a minimal reproduction for this or explain how can I reproduce it myself?

[2020-04-12 09:43] vadimdemedes commented on #273
It should be compatible with most terminals, since it doesn't use any special tricks to display the output. The only issue I've heard is https://github.com/vadimdemedes/ink/issues/248, where Ubuntu terminal had some issues with colors.

[2020-04-12 10:02] #271 closed

[2020-04-12 11:58] vadimdemedes opened #275 "Document rendering on continuous integration systems"
See https://github.com/vadimdemedes/ink/commit/a056565157de1049340bbf65e3ffc568a6759288 for context.

[2020-04-12 20:13] KyleAMathews commented on #274
https://github.com/KyleAMathews/test-ink

Run `test-ink` and then press enter twice — the longer text won't clear out properly. If you cut down the amount of longer text, then it does clear out.

Is this a built-in terminal limit e.g. if some of the text has gone off-screen? Ah, actually that seems to be it — I shrunk the text size down a ton and then the text was cleared as expected.

I guess thi

[2020-04-13 20:43] KyleAMathews commented on #274
This issue basically https://github.com/vadimdemedes/ink/issues/222

[2020-04-13 20:43] #274 closed

[2020-04-25 14:57] vadimdemedes commented on #229
Hey @sindresorhus, curious why do you think a `<Newline/>` component would be useful, since there are margin and padding built in?

[2020-04-25 17:03] sindresorhus commented on #229
1. Same reason I still use `<br>` in HTML. I'm lazy. I just want some quick vertical spacing. Padding/margin requires more thinking.
2. https://mxstbr.com/thoughts/margin
3. SwiftUI has a [`Spacer`](https://developer.apple.com/documentation/swiftui/spacer) component (which can have static height too).

[2020-04-26 09:36] vadimdemedes commented on #229
Good points!

[2020-04-26 20:35] KyleAMathews opened #279 "Connect to React Devtools"
For debugging & general development, it'd be great if there was some way to connect to the React devtools. It can be hard to figure out what's going on sometimes & the ability to manipulate values live would be 👨‍🍳 💋

[2020-04-26 22:02] CraftingGamerTom commented on #179
This is still, or once again an issue. Let me know if I should open a new ticket instead of reopening this one.

**Description**
`nuxt-link` components that are missing a `to="some-value"` argument results in an unclear error and significantly slows down loading of the page affected.

Here is an example

**test.vue**
[code]
When the page is rendered we recieve this error
![image](https://user-imag

[2020-04-27 07:53] rolfb commented on #263
This is probably a bit on the side of this issue, but I'm just getting started using Ink and want to create a "full screen app". Was wondering what the trick is to keep the "app" alive instead of exiting? Basically don't exit until I hit Q or ^C.

[2020-04-30 01:18] apatrida commented on #150
Another WASM build of Yoga: https://github.com/rickbutton/yoga-wasm

[2020-05-03 14:17] #267 closed

[2020-05-03 14:18] vadimdemedes commented on #151
Closing as duplicate of https://github.com/vadimdemedes/ink/issues/279.

[2020-05-03 14:18] #151 closed

[2020-05-03 19:18] vadimdemedes commented on #142
Hey @sindresorhus, I know it's been a year lol, but what API do you imagine for `useAnimation` and how would it simplify the code of `ink-spinner`? I'm having a trouble with ideas here, would appreciate input!

[2020-05-04 06:24] sindresorhus commented on #142
I'm thinking a `useAnimation`/`<Animation>` thing would let me specify an interval and Ink would optimize so if there are multiple animations running, it would try to fit as many calls as possible into one render loop. This is how animations work on macOS. It would also handle starting the timer and removing it on unmount.

I also imagine imagine a `<RepeatingAnimation>` built on this, where you c

[2020-05-07 07:38] vadimdemedes commented on #142
Interesting, will think about it. Thanks!

[2020-05-07 07:55] vadimdemedes commented on #150
Nice, I'll check it out.

[2020-05-07 09:16] vadimdemedes commented on #269
Created https://github.com/chalk/slice-ansi/issues/31 for this issue, thanks for reporting!